*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
header
{
    text-align: center;
    background-color: lightgreen;
    width: 100%;
    height: 100px;
    line-height: 100px;   
}
.row 
{
    margin-top: 15px;
}
.row::after
{
    content: "";
    clear: both;
    display: table;
}
.row .menu ul
{
    margin: 0px;
    padding: 0px;

}
.row .menu ul li
{
    list-style: none;
    padding: 8px;
    background-color: rgba(120, 250, 120, 0.541);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 7px;
    font-size: 20px;
    font-family: sans-serif;
}
.row .menu ul li:hover
{
    background-color: rgb(12, 248, 12);
    font-family: sans-serif 'Lucida Sans', 'Lucida Sans Regular'; 
}
[class*="col-"]
{
    float: left;
    padding: 15px;
}


/* For mobile phones */
[class*="col-"] 
{
    float: left;
    padding: 15px;
}
.aside
{
    background-color:lightgreen;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer
{
    background-color: lightgreen;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
@media only screen and (min-width: 600px)
{
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}