*
{
    margin: 0px;
    padding: 0px;

}
.header img
{
    /* background-size: 100% 100%; */
    opacity: 0.5;
    width: 100%;
    height: 100vh;
}
.header #img2
{
    z-index: 3;
    height: 60px;
    width: 200px;
    position: absolute;
    top: 100px;
    left: 550px;

}
.header #img2
{
    opacity: 1;
}
.header h1
{
    position: absolute;
    top: 175px;
    left: 380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: white;
}
.header p
{
    position: absolute;
    left: 400px;
    top: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}
.header button
{
    position: absolute;
    top:400px;
    left: 500px;
    padding: 20px 20px;
    background-color: lightseagreen;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.header button:hover
{
    background-color: burlywood;
}
