.maindiv
{
    height: 500px;
    width: 93%;
    border: 1px solid red;
    margin: 0px auto;
}
.maindiv .div1 img
{
    height: 300px;
    border-radius: 10px;
    width: 30%;
    position: relative;
}
.maindiv .div1
{
     width: 30%;
     float: left;
     /* border: 1px solid red; */
}
.maindiv .div1 img
{
    width: 100%;
}
.maindiv .div1 .image
{
    opacity: 1;
    position: relative;    
}
.maindiv .div1 .textdiv
{
    transition: 3s ease;
    opacity: 0;
    font-family: sans-serif;
    background-color: greenyellow;
    padding: 0px 5px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 18%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    
}
.maindiv .div1:hover >.image
{
    opacity: 0.2;
}
.div1:hover >.textdiv
{
    opacity: 1;

}
/* )Q*@)*Q&#)(Q@&#@&@() */
.div2
{
    
    margin-left:1%;
    /* border: 1px solid red; */
    float: left;
    width: 30%;
}
.maindiv .div2 img
{
    width: 100%;
    float: left;
    position: relative;
}
.maindiv .div2 .image1
{
    opacity: 1;
    position: relative;
}
.maindiv .div2 .textdiv1
{
    transition: 3s ease;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5e ease;
    bottom: 100%;
    right: 0;
    left: 0;
    transform:translate(-50%,-50%);
    -webkit-transform: (-50%,-50%);
}
.maindiv .div2:hover > .image1
{
    opacity: 0.2;
}
.maindiv .div2:hover > .textdiv1
{
    opacity: 1;
}
.maindiv:hover 