body
{
    background-image: url('images/images (4).jpg');
    /*background-repeat: repeat-x;*/
    /*background-repeat: repeat-y;*/
    background-position: 400px 200px;
    /*background-attachment: scroll;*/
    /*background-image: url("images/images (4).jpg");*/
    background-repeat: repeat-x;
    background-attachment: scroll;
}