div
{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    position: relative;
    animation: Myanimation 5s infinite;
    -webkit-animation: Myanimation 5s infinite;
    -moz-animation: Myanimation 5s infinite;
}
@keyframes Myanimation
{
    0% {top: 0px;background-color: lightpink;width: 100px;}
    100% {top: 200px;background-color: lightskyblue;width: 300px;}
}
@-webkit-keyframes Myanimation
{
    0% {top: 0px;background-color: lightpink;width: 100px;}
    100% {top: 200px;background-color: lightskyblue;width: 300px;}
}