div
{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    animation: myanimation 5s;
    position:relative;
     -webkit-animation: myanimation 5s; 
      -moz-animation: myanimation 5s;  
    
}
@keyframes myanimation
{
    0% { background-color: lightcoral; left: 0px; top: 0px;}
    25% {background-color: lightcyan; left: 200px; top: 0px;}
    50% {background-color: lightgoldenrodyellow; left: 200px; top: 200px;}
    75% {background-color: lightgray;left: 0px; top: 200px;}
    100% {background-color: lightgreen; left: 0px; top: 0px;}
}
 @-webkit-keyframes myanimation
{
     0% { background-color: lightcoral; left: 0px; top: 0px;}
    25% {background-color: lightcyan; left: 200px; top: 0px;}
    50% {background-color: lightgoldenrodyellow; left: 200px; top: 200px;}
    75% {background-color: lightgray;left: 0px; top: 200px;}
    100% {background-color: lightgreen; left: 0px; top: 0px;}
} 