div {
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    border: 1px dotted black;
    animation: myanimation 5s;
    -webkit-animation: myanimation 5s;
}

@keyframes myanimation {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@-webkit-keyframes myanimation
/* Safari and Chrome */

{
    from {
        background: green;
    }
    to {
        background: yellow;
    }
}