div
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    background-color: lightcoral;
    animation: MyCircleAnimation 5s infinite;
    -webkit-animation: MyCircleAnimation 5s infinite;
    -moz-animation: MyCircleAnimation 5s infinite;
}
@keyframes MyCircleAnimation
{
    from{top:0px;}
    to{top: 500px;}
}
@-webkit-keyframes MyCircleAnimation
{
    from{top:0px;}
    to{top: 500px;}
}
