.newspaper
{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}
.newspaper h2
{
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span:all;
    /* text-align: center; */
}