.newspaper
{

    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 42px;
    -webkit-column-gap: 45px;
    -moz-column-gap: 45px;
    
    column-rule: 4px inset lightcoral;
  
    column-rule-color:4px inset lightcoral;
    -webkit-column-rule-color: 4px inset lightcoral;
    -moz-column-rule-color: 4px inset lightcoral;
}