div
{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    transition: width 2s;
    transition-timing-function: ease-in-out;

    -webkit-transition: width 2s;
    -webkit-transition-timing-function: ease-in-out;

}
div:hover
{
    width: 500px;
}