@font-face
{
    font-family: Myfont;
    src: url(VtksDearLove.ttf);

}
@font-face
{
    font-family: Myfont;
    src: url(VtksDearLove.ttf);
    font-weight: bold;
}
div
{
    font-family: Myfont;
    font-size: 50px;
}
