div{
    height: 200px;
    width: 200px;
    background-color: lemonchiffon;
    position: relative;
    animation: myanimationinfinite 5s;
    -webkit-animation:  myanimationinfinite 5s;
    -moz-animation: myanimationinfinite 5s;
}
@keyframes myanimationinfinite
{
    0% {background-color: linen; left: 0px; right: 300;}
    25% {background-color: limegreen;left: 300px; top: 200px;}
    50% {background-color: lightyellow; left: 400px; top: 400px;}
    75% {background-color: lightsteelblue;left: 200px; top: 300px;}
    100% {background-color: lightskyblue; left: 300px; top: 200px;}
}
@-webkit-keyframes myanimationinfinite
{
    0% {background-color: linen; left: 0px; right: 300;}
    25% {background-color: limegreen;left: 300px; top: 200px;}
    50% {background-color: lightyellow; left: 400px; top: 400px;}
    75% {background-color: lightsteelblue;left: 200px; top: 300px;}
    100% {background-color: lightskyblue; left: 300px; top: 200px;}
}