div
{
    height: 100px;
    width: 100px;
    background: lightgreen;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 3s;
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 3s;
}
div:hover
{
    width: 300px;
}