.menudiv
{
    height: 50px;
    width:100%;
    background-color: lightskyblue;
}
.menudiv ul
{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.menudiv ul li
{
    list-style: none;
    display: inline-flex;
    margin-left: 40px; 
    width: 200px;
    height: 40px;
    background-color: lime;
    opacity: .5;
    line-height: 40px;
    text-align: center;
}
.menudiv ul li a
{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
}
.menudiv ul li ul
{
    margin-left: -126px;
    margin-top: 50px;
}
ul li ul li
{
    text-align: center;
    margin-left: -206px;
    display: none;
}
.menudiv ul li a:hover
{
    background-color: lightblue;
}
.menudiv ul li ul li:hover
{
    background-color: lightcoral;
}
ul li:hover ul li
{
    display: block;
}