#example
{
    position: relative;
    height: 600px;
    width: 500px;
    border: 1px solid red;
}
.childbox
{
    font-size: 12px;
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 10px;
    background-color: lightblue;
}
.childbox p
{
    text-align: center;
    padding-top: 10px;
}
#ease .childbox
{
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    border: 1px solid lightcoral;

}
#example:hover .childbox
{
    border-radius: 30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -o-border-radius:30px;
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    background-color: lightgreen;  
} 
#example