.Multiple_Div
{
    /* height: 100px;
    width: 100px; */
    background-color: lightcoral;
    text-align: justify;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-rule: 2px solid lightblue;
    -webkit-column-rule: 2px solid lightcyan;
    -moz-column-rule: 2px solid lightgreen;
    column-gap: 30px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
}