div
{
    height: 200px;
    width: 200px;
    background-color: lightsalmon;
    transition-property: width;
    transition-duration: 2s;

    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
div:hover
{
    width: 1000px;
}