div
{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    animation: rightanimation 5s;
    -webkit-animation: rightanimation 5s;
    -moz-animation: rightanimation 5s;

}
@keyframes rightanimation
{
    0% {background-color: red;}
    25% {background-color: lightcoral;}
    50% {background-color: lightgray;}
    75% {background-color: lightpink;}
    100% {background-color: lightskyblue;}
}
@-webkit-keyframes rightanimation
{
    0% {background-color: red;}
    25% {background-color: lightcoral;}
    50% {background-color: lightgray;}
    75% {background-color: lightpink;}
    100% {background-color: lightskyblue;}
}