.Outerdiv
{
    height: 20px;
    width: 20px;
    margin: 20px auto;
}
.Outerdiv .Innerdiv img
{
    height: 20px;
    width: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    transition: 5s linear;
    -webkit-transition: 5s linear;
    -moz-transition: 5s linear;
    -o-transition: 5s linear;
    -ms-transition:5s linear;

}
.Outerdiv .Innerdiv img
{
    width: 300px;
    height: 200px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);


}