.div1
{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    transition: width 8s;
    -webkit-transition: width 8s;
}
.div1:hover
{
    width: 1340px;
}
.div2
{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    transition: height 6s;
    -webkit-transition: height 6s;
}
.div2:hover
{
    height: 500px;
}