div
{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    transition:width 2s, height 2s, transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    text-align: center;

}
div:hover
{
    height: 200px;
    width: 200px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}