.font1
{
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 14px;
    color: lightblue;
    line-height: 1.3em;
}
.font2
{
	font-family: 'Ropa Sans', sans-serif;
	font-size: 14px;
	color: green;
	line-height: 1.3em;
}
.font3
{
	font-family: 'Butcherman', cursive;
	font-size: 14px;
	color: red;
	line-height: 1.3em;
}
.font4
{
	font-family: 'Rochester', cursive;
	font-size: 14px;
	color: blue;
	line-height: 1.3em;
}
.font5
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	color: pink;
	line-height: 1.3em;
}	
