*
{
    margin: 0px;
    padding: 0px;

}
.header1
{
    position: absolute;
    z-index: 2;
    width: 100%;
}
.logo
{
    border: 3px dotted rgb(247, 246, 246);
    width: 22%;
    height: 99px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-left: 40%;
    margin-top: 40px;
}
.logo img
{
    margin-top: 0px;
    height: 90px;
    width:100%;

}
.menu
{
    background-color: transparent;
    border: none;
    margin-top: 30px;
}
.menu ul li a
{
    font-size: 16px;
    font-weight: bold;
}
.menu ul li a:hover
{
    text-decoration: underline;
}
.item img
{
    width: 100%;    
}
.container2
{
    margin-left: 20%;
}

.headermain
{
    height: 250px;
}
.headermain h1
{
    margin-top: 60px;
}
.headermain p
{
    margin: 0px auto;
    width: 50%;
}
.carouseldiv1 h1
{
    font-family: 'MyCarouselDiv';
    font-size: 100px;
}
@font-face
{
    font-family: MyCarouselDiv;
    src: url('../Fonts/Boogaloo-Regular.ttf');
}

/* Start about us */
.headermain h1
{  
    font-size: 60px;
    font-weight: bold;
    color: #80cc0c;
    font-family: 'MyCarouselDiv';
}
.headermain p 
{
    font-family: 'MyCarouselDiv';
    font-size: 20px;
}
.about_us_image_side_contant p
{
    font-family: 'MyCarouselDiv';
    font-size: 16px;
}

/* End about us */
/* mdnjfiusd7ay9uwie78irowue8rifwefg8we09r08wefujweufy20837r139802739 */




.div2
{
    height: 600px;
}
.div3 img
{
    width: 100%;
}
.div4
{
    margin-top: 20px;
}

/* skdjfuiwew8e9r989r23989r23938r7r8239r */

/* Start services */
.MainServices
{
    background-color: #E6E6E6;
    height: 1240px;
    margin-top: 50px;
}
.div5
{
    /* background-color: lightcoral; */
    margin-top: 30px;
    height: 300px;
    
    
}
.div5 h1
{
    font-family: 'MyCarouselDiv';
    color: #80cc0c;
    font-size: 80px;
    margin-top: 30px;
}
.div5 p
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.servicesdiv
{
    margin-top: 50px;
}
.div6 .services-box1
{
    width: 100%;
    height: 500px;
    background-color: white;
    height: 470px;
    border: 1px solid white;
}
.div6 .services-box1 h4
{
    font-family: 'MyCarouselDiv';
    font-size: 50px;
    color: #80cc0c;
}

.div7 .services-box2
{
    width: 100%;
    height: 500px;
    background-color: white;
    height: 470px;
    border: 1px solid white;
}
.div7 .services-box2 h4
{
    
    font-family: 'MyCarouselDiv';
    font-size: 50px;
    color: #80cc0c;
}

.div8 .services-box3
{
    width: 100%;
    background-color: white;
    height: 470px;
    border: 1px solid white;
}
.div8 .services-box3 h4
{
   
    font-family: 'MyCarouselDiv';
    font-size: 50px;
    color: #80cc0c; 
}
.div6 img
{
    width: 100%;
}
.div7 img
{
    width: 100%;
}
.div8 img
{
    width: 100%;
}
.services-box1 p
{
    margin-top: 50px;
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.services-box1 img
{
    margin-top: 50px;
}
.services-box2 p
{
    margin-top: 50px;
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.services-box2 img
{
    margin-top: 50px;
}
.services-box3 p
{
    margin-top: 50px;
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.services-box3 img
{
    margin-top: 50px;
}

.div9 .icons-div1
{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    height: 300px;
}
.div10 .icons-div2
{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    height: 300px;
}
.div11 .icons-div3
{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    height: 300px;
}
.div9 .icons-div1 i
{
    margin-top: 30px;
    font-size: 90px;
    color: #80cc0c; 
}
.div10 .icons-div2 i
{
    margin-top: 30px;
    font-size: 90px;
    color: #80cc0c; 
}
.div11 .icons-div3 i
{
    margin-top: 30px;
    font-size: 90px;
    color: #80cc0c; 
}
.services-font
{
    font-family: 'MyCarouselDiv';
    font-size: 50px;
}
.icons-div1 p
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.icons-div2 p
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.icons-div3 p
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}

/* End services */
/* ===================================================== */


/* Start Menucard CSS */
.div12
{
    margin-top: 50px;
}
.div12 p
{
    margin-top: 70px;
    font-family: 'MyCarouselDiv';
    font-size: 19px;
    
}
.div12 h1
{
    font-family: 'MyCarouselDiv';
    font-size: 60px;
    color: #80cc0c; 
}
.menu_item_div_all
{
    margin-top: 317px;
}
.div13 h1
{
    margin-top: 50px;
}
.div13 p
{
    margin-top: 50px;
}
.div14 ul
{
    margin-top: 50px;
}
.MyNumber
{
    color: #80cc0c; 
    font-family: 'MyCarouselDiv';
}
.menuitem1 h3
{
    font-family: 'MyCarouselDiv';
    font-size: 34px;
}

.welldiv1
{
    height: 130px;
}
/* End Menucard CSS */
/*=====================================================*/


/* Start Gallery */
.div13 h1
{
    font-family: 'MyCarouselDiv';
    color: #80cc0c; 
    font-size: 80px;
}
.div13 p
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.div14 button
{
    font-family: 'MyCarouselDiv';
    margin-top: 50px;
    font-size: 30px;
}
.button_div_all
{
    height: 200px;
}
.imagediv1
{
    
    padding: 0px;
    
}
.imagediv2
{
    
    padding: 0px;
}
  
.imagediv3
{
    
    padding: 0px;
}
  
.imagediv4
{
    
    padding: 0px;
}
   
.imagediv5
{
    
    padding: 0px;
}

.imagediv6
{
    
    padding: 0px;
}

.imagediv7
{
    
    padding: 0px;
}

.imagediv8
{
   
    padding: 0px;
}
.Galleryimgdiv1
{
    border: 1px solid white;
}
.Galleryimgdiv1 img:hover
{
    opacity: 0.2;
    background-color: rgba(255, 162, 162, 0.747)
}

.Galleryimgdiv2
{
    border: 1px solid white;
} 
.Galleryimgdiv3
{
    border: 1px solid white;
}
.Galleryimgdiv4
{
    border: 1px solid white;
}
.Galleryimgdiv5
{
    border: 1px solid white;
}
.Galleryimgdiv6
{
    border: 1px solid white;
}
.Galleryimgdiv7
{
    border: 1px solid white;
}
.Galleryimgdiv8
{
    border: 1px solid white;
}
/* END portfolio css */
/* ============================================================== */


/* Start stats css */
.stats_div_main
{
    background-color: #f3f3f3;
}
.statsdiv h1
{
    margin-top: 35px;
    
} 
.statsdiv h1
{
    font-family: 'MyCarouselDiv';
    color: #80cc0c; 
    font-size: 80px;
}
.statsdiv p
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
    margin-top: 50px;
}
.statsdiv
{
    height: 200px;
    background-color: #f3f3f3;
}
.statsdiv1
{
    background-color: #f3f3f3;
    height: 250px;
}
.fontstats i
{
    color: #80cc0c; 
}
.statsdiv1
{
    margin-top: 90px;
}
.fontstats h4,h1
{
    font-family: 'MyCarouselDiv';
}
/* End stats css */
/* ================================================== */


/*Start Hover effect*/
.container123 {
    position: relative;
    /* width: 25%; */
  }
  
  .img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3c312fa3;
  }
  
  .container123:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/*End Hover effect  */

/* End Gallery */
/* ======================================================= */


/* Start Chefs  */
.chef_row_div
{
    background-color: black;
    height: 670px;
}
.chef_row_div h1
{
    color:#80cc0c;
    font-family: 'MyCarouselDiv';
    font-size:90px;
    
}
.chef_div_para p 
{
    margin-top: 60px;
}
.chef_row_div h4
{
    font-family: 'MyCarouselDiv';
    
}
.chef_row_div p
{
    color: white;
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.teamdiv1 h4
{
    color:#80cc0c;
}
/* End Chefs */

/* Star Tema div */
.chef_row_div2
{
    margin-top: 50px;
}
.teamdiv1 img
{
    width: 200px;
    border: 2px solid white;
}

.teamdiv2 img
{
    width: 200px;
    border: 2px solid white;
}

.teamdiv3 img
{
    width: 200px;
    border: 2px solid white;
}
.teamdiv1 h4
{
    color:#80cc0c;
}
.teamdiv2 h4
{
    color:#80cc0c;
}
.teamdiv3 h4
{
    color:#80cc0c;
}
.teamdiv1 p
{
   width: 70%;
   text-align: center;
   margin-left: 50px;
}
.teamdiv2 p
{
    width: 70%;
    text-align: center;
    margin-left: 50px;
}
.teamdiv3 p
{
    width: 70%;
    text-align: center;
    margin-left: 50px;
} 
/* End Team div */
/* ===================================== */

/* Start Customer feedback */
.Customerdiv1 h1
{
    font-family: 'MyCarouselDiv';
    color:#80cc0c;
    font-size:90px;
    margin-top:50px;

}
.feedback_div_first
{
    height: 530px;
    background-color:#f3f3f3;
}
.Customerdiv2
{
    background-color: #f8f8f8;
    height: 94px;
    margin-top: 50px;
    border-bottom-right-radius: 47px;
}
.Customerdiv2 p 
{
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.TRANGLE
{
    /* background-color: #dedede;
    border:medium none;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
    border-bottom-right-radius: 61px; */
    position:absolute;
    height:0px;
    width:0px;
    right:0px;
    border-top: 15px solid #dedede;
    border-left:15px solid #dedede;
    border-bottom:15px solid transparent;
    border-right:15px solid transparent;
}
.Customerdiv3
{
    margin-top: 50px;
}
.Customerdiv3 img
{
    height: 100px;
    width: 100px;
    margin-left: -23px;
}
.Customerdiv4 h4
{
    margin-left: 50px;
    

}
.Customerdiv4 p
{
    margin-left: 50px;
    font-size: 15px;

}
/* End Customer feedback */
/* ============================================== */

/* Start Contact us CSS */
.contactus1
{
    height: 215px;
}
.contactus1 h1
{
    font-family: 'MyCarouselDiv';
    color:#80cc0c;
    font-size: 80px;
    margin-top: 50px;
}
.contactus2 p
{
    font-family: 'MyCarouselDiv';

    text-align: center;
    font-size: 21px;
}

.user_form
{
    height: 500px;
}
.form1
{
    margin-top: 50px;
}
.form1 input
{
    padding: 20px;
    border-radius: 0px;
    height: 60px;
    border: 1px solid black;
    font-family: 'MyCarouselDiv';
    font-size: 20px;
}
.form1 textarea
{
    padding: 20px;
    border-radius: 0px;
    border: 1px solid black;
    font-family: 'MyCarouselDiv';
    font-size: 20px;
}
/* End Contact us CSS */
/* =========================================== */

/* Start footer div */
.footer1
{
    height: 600px;
    background-color: black;
    margin-top: 50px;
    font-family: 'MyCarouselDiv';
    font-size: 19px;
}
.footer2
{
    margin-top: 5%;
}
.footer2 img
{
    margin-left: 0px;
}
.footer2 p
{
    margin-top: 30px;
    
    color: white;
    line-height: 28px;
    font-family: 'MyCarouselDiv';
    font-size: 18px;
}
.footer3
{
    margin-top: 5%;
}
.footer3 h4
{
    color: white;
}
.footer3 p
{
    margin-top: 50px;
    font-size: 18px;
    color: white;
    line-height: 28px;
}
.footer4
{
    margin-top: 5%;
}
.footer4 h4
{
    color: white;
}
.footer4 p
{
    margin-top: 50px;
    font-size: 15px;
    color: white;
}
.footer4 ul li
{
    line-height: 40px;
    list-style: none;
    color: white;
    /* font-size: 19px; */
}
.footer4 ul li i
{
    font-size: 19px;
}
.footer5
{
    margin-top: 50px;
}
.footer5 ul
{
    display: -webkit-inline-box;
    
}
.footer5 ul li
{
    list-style: none;
    margin-left: 15px;
    
}
.footer5 ul li i
{
    font-size: 30px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 50px;
}
.footer6 p
{
    margin-top: 50px;
    color: white;
}
.footer6 a
{
    color:#80cc0c;
}
/* End footer div */


/* ========================================= */
/*Responsive*/
/*large*/
@media (min-width:992px) and (max-width:1199px)
{
    .logo
    {
        width: 30%;
        margin-left: 34%;
    }
    .container2 ul
    {
       
        position: absolute;
        left: 13%;
    }
    .carouseldiv1 h1
    {
        
        font-size: 70px;
    }
    /* End Header section */

    /* Start stats div */
    .statsdiv1
    {
        height: 200px;
    }
    /* End stats div */
/* sdasid83294efwe9728934293r82329323923923429323rewjff2o3r2f2er2 */

}
/*small*/
@media (min-width:768px) and (max-width:991px)
{
    .logo
    {
        width: 35%;
        margin-left: 33%;
    }
    .container2
    {
        width: 80%;
    }
    .container2 ul
    {

        width: 75%;
        position: absolute;
        left: 110px;
    }
    .container2 ul li
    {
        margin-left: -10px;
    }
    .container2 ul li a
    {
        font-size: 12px;
    }
    .MainServices
    {
        height: 3100px;
    }
    /* End Carosual */
/* sdfdsjfsd8798w392irwu8yefih83woeihf8weiofhr2woiefslk */
    .carouseldiv1 h1
    {
        font-size: 55px;
    }
    /*  */
    .headermain 
    {
        height: 200px;
    }
    .headermain h1
    {
        margin-top: 20px;
    }
    .headermain p
    {
        margin-top: 30px;
    }

    /* Start Services  */
    .MainServices
    {
        margin-top: 339px;
        height: 100%;
    }
    .services-box1
    {
        margin-top: 100px;
    }
    .div6 .services-box1
    {
        border: 1px solid white;
        height: 572px;
    }
    .div6 .services-box1 h4
    {
        margin-top: 0px;
    }
    .div6 .services-box1 p
    {
        margin-top: 0px;
    }
    .div6 .services-box1 img
    {
        margin-top: 0px;
    }
    .div7 .services-box2
    {
        margin-top: 50px;
        border: 1px solid white;
        height: 572px;
    }
    .div7 .services-box2 h4
    {
        margin-top: 0px;
    }
    .div7 .services-box2 p
    {
        margin-top: 0px;
    }
    .div7 .services-box2 img
    {
        margin-top: 0px;
    }


    .div8 .services-box3
    {
        margin-top: 50px;
        border: 1px solid white;
        height: 572px;
    }
    .div8 .services-box3 h4
    {
        margin-top: 0px;
    }
    .div8 .services-box3 p
    {
        margin-top: 0px;
    }
    .div8 .services-box3 img
    {
        margin-top: 0px;
    }
    /* End Services */

/*===============================================  */

/* START FEEDBACK CSS */
.TRANGLE {
    background-color: #dedede;
    border: medium none;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
    top: 64px;
    border-bottom-right-radius: 61px;
}
/* END FEEDBACK CSS */

    



    /* Starts stats div */
    .statsdiv1
    {
        height: 700px;
    }
    /* End stats div */

     /*Start Chefs CSS  */
     .chef_row_div
     {
         height: 100%;
     }
     .teamdiv1 p 
    {
        width: 87%;
        text-align: center;
        margin-left: 50px;
    }
    .teamdiv2 p {
        width: 87%;
        text-align: center;
        margin-left: 50px;
    }
    .teamdiv3 p {
        width: 87%;
        text-align: center;
        margin-left: 50px;
    }
     /*End Chefs CSS  */
/* ========================================================= */
/*Start Footer div  */
.footer1
{
    height: 100%;
}
/*End Footer div  */
}






/*mobile*/
@media (min-width:480px) and (max-width:767px)
{
    .logo
    {
        width: 50%;
        margin-left: 25%;
        background-size: 100% 100%;
    }
    .logo img
    {
        width: 100%;
    }
    .carouseldiv1 h1
    {
        font-size: 52px;
    }
    .carouseldiv1 p
    {
        font-size: 15px;
    }

    .button1
    {
        position: absolute;
        left: 47%;
        border: none;
        background-color: red;
    }
    .container2
    {
        border: none;
    }
    .container2 ul
    {
        background-color: gray;
        width:80%;
        margin-top: 50px;
    }
    .container2 ul li a
    {
        text-align: center;
    }
    .headermain
    {
        height: 200px;
    }
    .headermain h1
    {
        margin-top: 10px;
    }
    .headermain p
    {
        width: 80%;
    }
    .carouseldiv1 h1
    {
        font-size: 45px;
    }
    /* NLAJBIFUK98723@#()*#Q(&)*@$(#&)*$@#(*#@$&()*&@#&$*@#$*#@$ */
    /* Start Services  */
    .MainServices
    {
       margin-top: 170px;
        height: 3100px;
    }
    .headermain
    {
        margin-top: 40px;
    }
    .div4
    {
        margin-top:300px;
    }
    .div6 .services-box1
    {
        height: 413px;
    }
    .div7 .services-box2
    {
        margin-top: 200px;
        height: 413px;
    }
    .div8 .services-box3
    {
        margin-top: 200px;
        height: 413px;
    }

    .div6 .services-box1 h4
    {
        margin-top: 0px;
    }
    .div6 .services-box1 p
    {
        margin-top: 0px;
    }
    .div6 .services-box1 img
    {
        margin-top: 3px;
    }

    .div7 .services-box2 h4
    {
        margin-top: 0px;
    }
    .div7 .services-box2 p
    {
        margin-top: 0px;
    }
    .div7 .services-box2 img
    {
        margin-top: 3px;
    }
    .div8 .services-box3 h4
    {
        margin-top: 0px;
    }
    .div8 .services-box3 p
    {
        margin-top: 0px;
    }
    .div8 .services-box3 img
    {
        margin-top: 3px;
    }
    .div9
    {
        margin-top: 150px;
    }
    /* End Services */
/* ================================================*/

    /* Start Gallery */
    
    /* End Gallery */

/* ============================================== */
    /* Stats div */
    .statsdiv1
    {
        height: 700px;
    }
    /* End stats div */
/* ========================================== */
    /*Start Chefs CSS  */
    .chef_row_div
    {
        height: 100%;
    }
    /*End Chefs CSS  */
/* ============================================ */
/* Start Customer Feedback */
    .Customerdiv2
    {
        height: 100px;
    }
/* End Customer Feedback */
/* ======================================================== */

/*  */
    .footer1
    {
        height: 100%;
    }
/*  */
}



/*portrait*/
@media(max-width:479px)
{
    .logo
    {
        width: 50%;
        clear: both;
        margin-left: 82px;
    }
    .logo img
    {
        width: 100%;
        height: 85%;
        clear: both;
    }

    .carouseldiv1 h1
    {
        font-size: 29px;
    }
    .carouseldiv1 p
    {
        font-size: 5px;
    }
    .button1
    {
        position: absolute;
        top: -10px;
        left: 130px;
        border: none;
        clear: both;
    }
    .container2 ul
    {
        
        width:100%;
        margin-left: -40px;
        text-align: center;
    }
    .container2 ul li
    {
        background-color: gray;
        border: none;
        width: 100%;
    }
    .container2 ul li a
    {
        text-align: center;
        margin-left: 40px;
    }
    .container2
    {
        border: none;
        border: transparent;
    }
    .container2 ul
    {
        margin-top: 20%;
        border: none;
        z-index: 3;
    }
    .item img
    {
        height: 80vh;
    }

    /* End Header */
/* ====================================================*/
/* START ABOUT US CSS */
    .headermain
    {
        height: 450px;
    }
    .about_us_image_side_contant
    {
        margin-top: 30px;
    }
    /*  */
    /* dfget436575676356!@#@_(*&*@#(*OEKHDJ(WOEDYW*E */
    .MainServices
    {
        height: 2000px;
    }
    .div4
    {
        height: 1040px;
    }
    .div5
    {
       
        height: 350px;
    }
    
/* sdgfwe$^%&|*(IOUIYFUY&(*^&%^^&*(&*^&*()*(&(*&**(&)*^( */

/* Start Services CSS */
    .MainServices
    {
        height: 2470px;
    }
    .servicesdiv 
    {
        margin-top: 140px;
    }
    .div6 .services-box1
    {
        width: 100%;
        height: 100px;
        background-color: white;
        height: 300px;
        border: 1px solid white;
    
    }
    .services-box1
    {
        margin-top: 20px;
    }
    
    .div6 .services-box1 h4
    {
        margin-top: 0px;
    }
    .div6 .services-box1 p
    {
        margin-top: 0px;
    }
    .div6 .services-box1 img
    {
        margin-top: 3px;
    }
    
    .div7 .services-box2
    {
        
        width: 100%;
        height: 100px;
        background-color: white;
        height: 200px;
        border: 1px solid white;
        margin-top: 40px;
    }
    .div7 .services-box2 h4
    {
        margin-top: 0px;
    }
    .div7 .services-box2 p
    {
        margin-top: 0px;
    }
    .div7 .services-box2 img
    {
        margin-top: 3px;
    }

    .div8 .services-box3
    {
        margin-top: 140px;
        width: 100%;
        height: 100px;
        background-color: white;
        height: 200px;
        border: 1px solid white;
    }
    .div8 .services-box3 h4
    {
        margin-top: 0px;
    }
    .div8 .services-box3 p
    {
        margin-top: 0px;
    }
    .div8 .services-box3 img
    {
        margin-top: 3px;
    }
    .div9 .icons-div1
    {
        margin-top: 75px;
    }
    .div10 .icons-div2
    {
        margin-top: 15px;
    }
    .div11 .icons-div3
    {
        margin-top: 15px;
    }
    .div9 
    {
        margin-top: 100px;
    }
    .button_div_all
    {
        height: 450px;
    }
    .feedback_div_first {
        height: 570px;
        background-color: #f3f3f3;
    }
    .TRANGLE {
        position:absolute;
        height:0px;
        width:0px;
        right:0px;
        top:168px;
        border-top: 15px solid #dedede;
        border-left:15px solid #dedede;
        border-bottom:15px solid transparent;
        border-right:15px solid transparent;
    }
/* ===========================================================*/
    /* Start Menu card */
    .menuitem1 h3
    {
        font-size:15px;
    }
    
    .menuitem1 h2
    {
        font-size:15px;
    }
    /* End Menu card */
/* ========================================================== */

    /* Start Gallery */
    
    .statsdiv1
    {
        height: 750px;
    }
    /* End Status div */
/* lkjkhj[(*(&*^)yuijkhFUT%E^IPLJKJVHCUtuoiuifytfyhOP */


    /*Start Chefs CSS  */
    .chef_row_div
    {
        height: 100%;
    }
    /*End Chefs CSS  */

    /* Start Customer Feedback */
    .Customerdiv1 h1
    {
        font-size: 50px;
    }
    .Customerdiv2 {
        height: 200px;
    }
    .Customerdiv4 h4
    {
        margin-left: 90px;
        margin-top: -70px;
    }
    .Customerdiv4 p
    {
        margin-left: 90px;
    }
    /* End Customer Feedback */
/* ====================================== */


/* Start footer div */
    .footer1
    {
         height: 100%;
    }
    .footer5 ul li {
        list-style: none;
        margin-left: 5px;
    }
/* End footer div */
}