*{
margin:0px;
padding:0px;
}
//Header style
.header{
	width:80%;
	height:100px;
	padding:0px 10%;
}

.logo{
	float:left;	
	width:20%;
	margin-top:2.5%;
}

.nav{
	float:left;
	width:80%;
	height:50px;
	margin-top:2.5%;
}

.nav ul{
	list-style:none;
width:100%;	
height:50px;
}

.nav ul li{
	float:left;	
	height:50px;
	line-height:50px;
	width:20%;
	text-align:center;
}

.nav ul li a{
	text-decoration:none;
font-size:18px;
font-weight:bold;
color:black;	
padding:5px 20px;
}

.nav ul li a:hover{
	color:gray;
	border:2px solid orange;
}

.slider{
	width:100%;	
	position:relative;
	clear:both;
}

.slider .slide{
	width:100%;	
	position:absolute;
}

.slider .slide img{
	width:100%;
	z-index:1;
}

.slider .content{
	position:absolute;	
	top:200px;
	left:200px;
}

.slider .content h1{
	font-size:120px;
color:white;	
}

.slider .content p{
	font-size:36px;
	color:white;
}

.slider .content input{
	background-color:green;
	border:none;
	padding:10px 30px;
	font-size:20px;
	font-weight:bold;
	color:white;
	margin-top:5px;
}
.aboutus{
	margin-top:500px;
	width:100%;	
	height:500px;
	clear:both;
	position:relative;	
}

.aboutus .header1{
	width:100%;
	height:100px;
	margin-top:600px;
	text-align:center;
}

.aboutus .header1 h1{
	font-size:110px;
	color:green;
}

.aboutus .header1 p{
	font-size:25px;
	color:gray;
}

 .aboutus .content1{
	 width:100%;
	 height:500px;
	 margin-top:100px; 
 }
 
 .aboutus .content1 div{
	 width:25%;
float:left;
margin-left:5%;	 
height:500px;
position:relative;
 }
 
 .aboutus .content1 .article1 div{
	 float:none;
	 
	 
 }
 
 .aboutus .content1 .article1 .img1{
	 width:100%;
	 height:70%;
 }
 
 .aboutus .content1 .article1 .img1 img{
	 width:100%;
	 height:100%;
	}
	
	.aboutus .content1 .article1 .cont1{
		
		width:100%;
		background-color:black;
		padding-top:50px;
		height:150px;
	}
	
	.aboutus .content1 .article1 .cont1 h1{
		color:white;
		font-size:50px;
		text-align:center;
		
	}
	
	.aboutus .content1 .article1 .cont1 p{
		color:white;
		font-size:20px;
		text-align:justify;
		padding:5px;
	}
	.aboutus .content1 .article1 .symbol{
		position:absolute;
		top:0px;
		width:100px;
		height:100px;
		background-color:white;
		color:black;
		border-radius:50%;
		line-height:100px;
		text-align:center;
		font-size:60px;
		font-weight:bold;
		top:300px;
		left:35%;
	}