body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(23, 24, 26);
}
.contianer
{
    margin:100px auto;
    width: 600px;
}
.ImagesBox
{
    position: relative;
    overflow: hidden;
    
}
.ImagesBox img
{
    width: 100%;
}
.TestBox
{
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: .5s ease-in;
    background-color:#ff000082;
    clear: both;
    
}
.TestBox h1
{
    color: white;
    margin: 0px;
    padding: 0px;
    position: absolute;
    clear: both;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(-50%) translateY(-50%);
}
.ImagesBox:hover .TestBox
{
    /* left: 100%; */
    left: 100%;
    width: 100%;
    height: 100%;
}
.ImagesBox img
{
    transform: scale(1.0);
}
/* ================================================================ */
.contianer_div
{
    width: 500px;
    margin: 100px auto;
}
.image_div img
{
    height: 300px;
    width: 500px;
    position: relative;
    overflow: hidden;
}
.image_div h1
{
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    clear: both;
}
