body
{
    margin: 0px;
    padding: 0px;
}
.main_div
{
    width: 90%;
    /* border: 1px solid rebeccapurple; */
    height: 500px;
    margin: 0px auto;
    margin-top: 40px;
}

/* ============================================================== */
/* START FIRST DIV */
.container_div_first
{
    height: 400px;
    width: 300px;
    float: left;
    position: relative;
    /* border: 1px solid red; */
    margin-left: 5%;

}
.overlay_first
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    width: 300px;
    height: 0px;
    background-color: rgba(240, 128, 128, 0.589);
}
.text_first
{
    position: absolute;
    top: 0px;
    left: 0px;

}
.container_div_first:hover > .overlay_first
{
    height: 300px;
    transition: 3s ease-in-out;
}

/* END FIRST DIV */
/* =================================================================================== */
/* START SECOND DIV */
.container_div_second
{
    height: 400px;
    width: 300px;
    float: left;
    position: relative;
    /* border: 1px solid red; */
    margin-left: 8%;
}
.overlay_second
{
    position: absolute;
    top: 0px;
    left: 0px;  
}
/* END SECOND DIV */

/* ============================================================== */

/* START THIRED DIV */
.container_div_thired
{
    height: 400px;
    width: 300px;
    float: right;
    position: relative;
    /* border: 1px solid red; */
    margin-right: 5%;
    margin-left: 5%;
    /* background-color: black; */
}
.overlay_thired
{
    position: absolute;
    width: 300px;
    height: 0px;
    /* top: 0px; */
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    background-color: rgba(15, 15, 15, 0.527);
    
}
.container_div_thired:hover > .overlay_thired 
{
    height: 400px;
    transition:2s ease-in-out;
    text-align: center;
}
.overlay_thired .text_thired
{
    border: 4px solid white;
    top: 210px;
    border-radius: 50px;
    color: white;
    left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    
}
.container_div_thired:hover > .text_thired
{
    display: block;
    transition: 4s ease-in;
}

/* END THIRED DIV */