.header-div
{
    // background-image: url('../images/bg.jpg');
    background: linear-gradient(rgba(0,0,0,0.914),rgba(0,0,0,0.914)),url('../images/bg.jpg');
    height: 100vh;
    width: 100%;
}
.header-div .top-harizontal
{
    // border: 5px solid white;
    position: absolute;
    width: 300px;
    top: 40%;
    left: 39%;
}
.header-div .bottom-harizontal
{
    // border: 5px solid white;
    position: absolute;
    width: 300px;
    top: 89%;
    left: 39%;
}
.header-div .welcome
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.header-div .portfolio
{
    text-transform: uppercase;
    color: rgb(10, 136, 153);
    font-size: 90px;
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%,-50%);

}