.navaigation
{
    width: 50px;
    height: 10px;
    color: white;
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 5;
}
.navaigation::after
{
    width: 50px;
    height: 10px;
    color: white;
    position: absolute;
    left: 10%;
    top: 15%;
}