$font-stack: Helvetica, sans-serif
$primary-color: #333

@import "profile"
@import "header"
@import "nav"


  
body
  font: 100% $font-stack
  color: $primary-color
  padding: 0px
  margin: 0px

// .sass-box
//     // position: absolute
//     left: 50%
//     top: 50%
//     transform: translate(-50%,-50%)
//     border: 1px solid red
//     height: 200px
//     width: 200px

