

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

/* .sass-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  height: 200px;
  width: 200px;
} */
/*# sourceMappingURL=index.css.map */