*
{
    margin: 0px;
    padding:0px;
}
body
{
    background-color: white;
    
}
.headerdiv
{
    margin-left: 50px;
    margin-right: 50px;
}
.headerdiv .imgdiv img
{
    float:left;
    height: 64px;
    width: 200px;
}
.headerdiv .imgdiv ul
{
    list-style: none;
    margin-left: 5%;

}
.headerdiv .menudiv
{
   
    float: left;
    padding: 40px;
}

.maindiv .headerdiv .menudiv ul 
{
    list-style: none;
    /*margin-left: 82px 5%;*/
    
}
.maindiv .headerdiv .menudiv ul li
{
    display: inline;
    margin-left: 40px;
    
}
.maindiv .headerdiv .menudiv ul li a
{
    padding: 13px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}
.maindiv .headerdiv .menudiv ul li a:hover
{
    color: white;
    background-color: #3c9ecb;
    border-radius: 50px;
    padding:11px;
}
.slidediv
{
    margin:0px;
}
.slidediv .imgdiv img
{
    height:100%;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
}
.slidediv .contentdiv h1
{
    position: absolute;
    top: 274px;
    left: 171px;
    font-size: 100px;
    color: white;
    font-weight: bold;
    
}

.slidediv .contentdiv p
{
     position: absolute;
     top: 388px;
     left: 175px;
     color: white;
     font-weight: bold;
     font-size: 25px;
}
.slidediv .contentdiv input
{
    position: absolute;
    top: 440px;
    left: 177px;
    padding: 7px 7px;
    background-color:#3c9ecb;
    color: white;
    border: none;
    font-size: 23px;
    
}


.aboutusdiv .aboutcontenddiv h1
{
    text-align: center;
    margin-top: 20px;
    color: #3c9ecb;
    font-size: 60px;
}
.aboutusdiv .aboutcontenddiv p
{
    text-align: center;
    font-size: 14px;
    margin-bottom: -30px;
    font-weight: bold;

}
aboutthreediv
{
    margin-left: 10%;
}
.aboutusdiv .aboutthreediv
{
    margin-top: 50px;
}
.aboutcontenddiv
{
    /*background-color: green;*/
    margin-left: 10%;
    margin-right: 10%;
}
/*aboutcontenddiv*/
.aboutthreediv
{
     /* border: 1px solid red;  */
    height: 540px;
    margin-top: 48px;
    margin: 0px 82px;
    margin-left: 150px;
}
.threediv
{
     /* border: 1px solid red;  */
    height: 500px;
    width: 300px;
    margin-left: 50px;
    
}

.aboutthreediv .threediv
{
    margin-top: 80px;
    float: left;
    

}

.aboutthreediv .threediv
{
    
    width:253px;
    height: 460px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
    background-color: black;
    /* border: 1px solid black; */
    
}
.aboutthreediv .threediv img
{
    height: 300px;
    width: 253px;
    background-size: 100% 100%;
    position: relative;
}

.aboutthreediv .threediv .symbolediv p
{
    color: black;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    height: 70px;
    width: 70px;

}
/* working */
.aboutthreediv .threediv .symbolediv
{
   position: absolute;
    left: 291px;
    top: 1070px;

}
.aboutthreediv .threediv .symbolediv
{
        position: absolute;
    left: 646px;
}
.aboutthreediv .threediv .symbolediv .symbole0
{
    position: absolute;
    left: -355px;
}
.aboutthreediv .threediv .symbolediv .symbole2
{
        position: absolute;
    left: 356px;
}
.aboutthreediv .threediv .symbolediv p
{
        font-size: 60px;
}
.aboutthreediv .threediv .textcontentdiv
{
    color: white;
    
     margin-top: 35px;
}
.aboutthreediv .threediv .textcontentdiv h3
{
    text-align: center;
}
.aboutthreediv .threediv .textcontentdiv p
{
    text-align: center;   
}
.ourservices
{
    background-color: #3c9ecb;
    height: 375px;
    margin-top: 40px;
    position: relative;
}
.ourservices h1
{
    text-align: center;
    color: white;
    font-size: 60px;
   
}
.ourservices p
{
    text-align: center;
    color: white;
    font-size: 16px;
}
.imagediv
{
    /* border: 1px  solid red; */
    float: left;
    margin-top: 180px;
    margin-left: 85px;
    padding: 10px;
    
}
.ourservicescont
{
    position: absolute;
    margin-left: 190px;
    margin-top: 15px;
}
.ourservices .ourservicescont h1
{
    margin-top: 30px;
}


.ourteam .ourteamcontent
{
    /* border: 1px solid purple; */
    margin-top: 30px;
        margin-bottom: 25px;
}
.ourteam .ourteamcontent h1
{
    text-align: center;
    font-size: 60px;
    color: #3c9ecb;
}
.ourteam .ourteamcontent p
{
    text-align: center;
}
.ourteamalldiv
{
    /* border: 1px solid lightseagreen; */
    height: 400px;
        margin-left: 224px;
    margin-right: 224px;
}
.ourteampanel img
{
    height: 150px;
    width: 150px;
}
.ourteampanel
{
    
    float: left;
    height: 150px;
    width: 150px;
    margin-top: 0px;
    background-color: #3c9ecb;
    
}
.ourteampanel h3
{
    text-align: center;
    margin-bottom: 10px;
    color: white;
        margin-top: 9px;
}
.ourteampanel p
{
    font-size: 13px;
    text-align: justify;
    color: white;
    padding: 5px 5px;
    margin-top: -6px;
    font-weight: bold;
}
.mapdiv
{
    /* border: 1px solid red; */
    height: 715px;
    margin-top: 0px;
    margin-top: -50px;
    background-image: url("../img/Map1.jpg");
    opacity: 1;
}
.formdiv
{
    margin: 80px 80px;
    height: 600px;
    border: 1px solid green;
    background-color: #3c9ecb;
    position: absolute;
    width: 80%;
    margin: 10% 10%;
    margin-top: 52px;
}
.mapcontentdiv h1
{
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 20px;
}
.contacinformationdiv
{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    /* border: 1px solid red; */
    padding: 50px;
    width: 32%;
}

.contacinformationdiv ul li
{
    list-style: none;
    line-height: 48px;
    color: white;
}
.contacinformationdiv h3
{
    color: white;
    margin-bottom: 26px;
}

.contactformdiv
{
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    /* border: 1px solid green; */
    padding: 50px;
    width: 30%;
}
.contactformdiv form
{
    margin-top: 20px;
}


.contactformdiv h3
{
    margin-bottom: 26px;
    color: white;
}
.contactformdiv input
{
    padding: 8px 18px;
    width: 89%;
    margin-bottom: 20px;
    line-height: 20px;
}
.contactformdiv textarea
{
    padding: 8px 1px;
}
.contactformdiv .button
{
    background-color: black;
    color: white;
    width: 10%;
}
.contactformdiv textarea
{
    padding: 8px 20px;
    margin-left: 0px; 
    margin-right: 0px; 
    width: 286px;
}
.footerdiv
{
    background-color: white;
    height: 50px;
}
.footerdiv .footerdivone
{
    float: left;
    margin-left: 136px;
    margin-top: 15px;
}
.footerdiv .footerdivtwo
{
    float: left;
    margin-top: 15px;
}
.footerdiv ul li
{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.footerdiv ul
{
    margin-left: 762px;
}