*
{
    margin: 0px;
    padding: 0px;
}

.header
{
    /* background-color: lightgreen; */
    height: 600px;
    
}
.rowswa
{
    background-color: #f1f1f1;
    height: 280px;
}
.rowsw1
{
    
    height: 280px;
}
.div3
{
    /* background-color: lightcoral; */
    height: 200px;
}
.div3 img
{
    height: 65px;
    width: 65px;
    border: 3px double red;
}
.div4
{
    height: 500px;
    /* background-color: lightsalmon; */
}
.div5
{
    /* border: 1px solid red; */
    height: 200px;
}
.div5 img
{
    height: 45px;
    width: 45px;
}
.div6
{
    /* background-color: lightseagreen; */
    height: 200px;
}