*
{
    margin: 0px;
    padding: 0px;
}

.div0
{

    height: px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar
{
    bottom: 0px;
}
.div1
{
    margin-top: 0px;
    height: 300px;
    background-color: lightslategrey;
}
.div1 h1
{
    font-size: 60px;

}
.div1 p
{
    font-size: 30px;
}
.div2
{
   height: 200px;
   background-color: lightblue;
}
