.container
{
    height: 100vh;
    align-items:center;
    display:flex;
    justify-content:center;
}
.center
{
    height:200px;
    width:200px;
    background-color:red;
    border-radius:20px;
}