body
{
    margin:0px;
    padding:0px;
    background-color:black;
}
#main
{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
}
#main:hover
{
    cursor:pointer;
}
#c1
{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    left: 48%;
    top: 64%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#c2
{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%,50%);
    z-index: 99;
}
#c3
{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    left: 52%;
    top: 65%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#c1 img,#c2 img,#c3 img{
    height: 40px;
    width: 30px;
    position: absolute;
    left:50%;
    top:64%;
    transform: translate(-50%,-50%);
    display:none;

}