*
{
    padding: 0px;
    margin: 0px;
}
.menudiv
{
    margin: 0px auto;
    height: 50px;
    width: 100px;
    margin-right: 45px;
}
.logo a img
{
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    height: 76px;
    width: 91px;
    background-color: #343a40 !important;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}





/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{ 
    body
    {
        background-color: aquamarine;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{  
    body
    {
        background-color:red;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{ 
    body
    {
        background-color:hotpink;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{ 
    body
    {
        background-color: salmon;
    }
}