*
{
    margin: 0px;
    padding: 0px;
}
body
{
        background-color: lightgray;
        
}
.headerdiv
{
    background-color: #306777;
    height: 165px;
    width: 100%;
    position: relative;
}
.headerdiv .imagediv
{
    position: absolute;
    background-color: black;
    width: 210px;
    height: 120px;
    margin-left: 10%;
    margin-right: 10%;
    top: 60px;
}
.headerdiv .imagediv h1
{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 22px;
}
.headerdiv .menudiv
{
    list-style: none;
    float: right;
    margin-right: 6%;
    margin-top: 10px;
}
.headerdiv .menudiv ul
{
    margin-top: 106px;
    margin-right: 186px;
    margin-right: 0%;
}
.headerdiv .menudiv ul li
{
    display: inline;
    padding: 5px;
    background-color: black;
    margin-right: 55px;
    border-radius: 7px;  
}
.headerdiv .menudiv ul li a
{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 2px;
}
.headerdiv .menudiv ul li:hover
{
    background-color: rgba(10, 12, 7, 0.33);
}