/* body
{
    background-color: lightpink;
} */
*
{
    margin: 0px;
    padding: 0px;
}
.menu
{
    height: 100px;
    width: 100%;
    border: 1px solid red;
}
.menu ul
{
    margin-left: 30%;
} 
.menu ul li
{
    list-style: none;
    border: 1px solid green;
    width: 100px;
    height: 100px;
    /* display: inline; */
    float: left;
    line-height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 23px;
    background-color: lightcoral;
}
.menu ul ul
{
    margin-left: -1px;
    text-shadow: 7px 0px 5px black;
}
/* .menu ul ul:hover
{
    background-color: lightskyblue;
} */
.menu ul ul li:hover
{
    background-color: lightskyblue;
}
.menu ul li ul
{
    display: none;
}
