body
{
    background-color: lightcoral;
}
*
{
    margin: 0px;
    padding: 0px;
}
.meunudiv
{
    height: 58px;
    width: 100%;
    background-color: lightgreen;
}
.meunudiv ul  ul 
{
    display: none;
    
  
}

.meunudiv ul li
{
    float: left;
    list-style: none;
    border: 1px solid rebeccapurple;
    padding: 20px 40px;
    
}
.meunudiv ul li a
{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}
.meunudiv ul li:hover
{
    background-color: #A6EEEA;
}
