*
{
    margin: 0px;
    padding: 0px;
}
ul li 
{
    list-style: none;
    border: 1px solid red;
    height: 80px;
    width: 100px;
    line-height: 80px;
    text-align: center;
    background-color: lightpink;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    float: left;
}
ul li:hover
{
    background-color: lightsalmon;
}
/* ul li ul li:hover
{
    background-color: lightsalmon;
    display: block;
} */
ul ul
{
    display: none;
}
ul li:hover>ul
{
    display: block;
}