*
{
    margin: 0px;
    padding: 0px;
} 
body
{
    background-image: url('E:/HTML-PRACTICE/sachin-DEMO/MenuFolder/images/download2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.container
{
    margin: auto;
    height: auto;
    margin: 0px 20%;

}
.container ul li
{
    list-style: none;
    float: left;
    height: 50px;
    width: 150px;
    background-color: black;
    line-height: 50px;
    text-align: center;
}
.container ul li a
{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

.container ul li:hover
{
    background-color: red;
    transition: 3s;
    /* transition-timing-function: 3s;
    -webkit-transition-timing-function: ease-in-out 3s; */
}
.container ul li ul li
{
    display: none;
    
}
.container ul li:hover ul li
{
    display: block;
    opacity: 1;    
}
