.about_container
{
    background-color: rgb(228, 38, 73);
}
.about_container_about h1
{
    color: white;
    font-size: 40px;
}
.about_container_about p
{
    color: white;
    font-size: 23px;
}

/* ============================================== */


