.fresher_div a
{
    color: rgb(241, 37, 75);
    
}
.fresher_div
{
    margin-top: 30px;
    
}
.fresher_div_1 a
{
    margin-top: 50px;
    text-decoration: underline;
    color: rgb(241, 37, 75);
}
.pager_button li
{
    background-color: rgb(241, 37, 75);

}
.model_div
{
    margin: 10% 10%;
}