.header_div_one
{
    width: 55%;
}
.header_div_one ul
{
    position: relative;
    left: 24px;
    width: 102%;
}

.header_div_one ul li a img
{
    height: 22px;
    width: 50px;
}
.header_div_one ul li a
{
    text-align: center;
    
}
.navbar.navbar-inverse 
{    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);    
    border: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);
}
.header_div_one .logo_li
{
    height: 60px;
}
.carousel-caption .login_form
{
    position:relative;
    top:120px;
    width:40%;
    padding:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0px 0px 20px 17px rgba(0, 0, 0, 0.19);-webkit-box-shadow: 20px 14px 26px 6.9;
}
.container1
{
    position: relative;
}
.item figure:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
.textBox #login_button
{
    width: 50%;
    background-color: rgb(231, 29, 66);
    border: rgb(231, 29, 66);
}
.textBox #login_button:hover
{
    background-color: rgb(231, 29, 66);
    border: rgb(231, 29, 66);
}
.button_div
{
    margin-top: 50px;
    width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.button_div button
{
  border:0px;
  padding:12px 20px;
  font:inherit;
  background:#0087cc;
  color:#fff;
  box-shadow:0 5px 0 #eeeef3;
  border-radius:4px;
  cursor:pointer;
  transition:all .1s liner;
  outline:0;
}

.button_div button:active
{
box-shadow:0 2px 0 #006599;
transform:translateY(3px);
}
/* END HEADER */
/* =================================================================== */
/*START SIGN UP PAGE */
.sign_up_page
{
    background-color: white;
}
.input_group_textbox input
{
    border-radius: 0px;
}
.sign_up_font
{
    font-family: Mysignupfont;
    font-size: 40px;
}
@font-face
{
    font-family: 'Mysignupfont';
    src: url('../Fonts/JosefinSans-Bold.ttf');
}
.form-group button
{
    width: 100%;
}
.form-group button span
{
    font-size: 50px;
}
.caret_icon #caret_id
{
    border-top: 10px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.caret_icon ul
{
    width: 100%;
}
/*END SIGN UP PAGE */
/* =========================================================================== */

/* START SEARCH STUDENT */
.searchbox 
{
	padding:0%;
}

.searchbox h1
{
	color:white;
	padding:3%;
}

.imagesbox
{
	background-color:#ff0066;
	height:800px;
	margin-top:2%;
    padding-top:0px;
    padding:0px;
    
}


 
 
 .imagesbox:before{
    background: 
                linear-gradient(-45deg, #ff0066 16px, #ff0066 16px, #ff0066 16px,  transparent 0), 
                linear-gradient(45deg, #ff0066 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;

    height: 32px;
    width: 100%;

    position: relative;
    bottom: 32px;
    left:0;
    right:0px;
    
}


 
 
 
 
.imagesbox:after{
    background: 
                linear-gradient(-45deg, transparent 16px, #ff0066 0), 
                linear-gradient(45deg, transparent 16px, #ff0066  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;

    width: 100%;
    height: 32px;

     position: relative;
    top:0%;
    left:0;
}
.imagesbox .boxof4
{
	/* background-color:yellow; */
	height:380px;
	padding-top:2%;
}


.imagesbox .boxof4 .box1
{
	/* background-color:red; */
	height:300px;
}


.logo1
{
    /* background-color:pink; */
    background-color: white;
	height:280px;
	padding:5%;
}

.logo1 img
{
	
	height:100px;
	width:100px;
	border-radius:50px;
}

.logo1 h4
{
	padding:15px;
	background-color:#ff0066;
	font-size:21px;
	height:50px;
}

.logo1 button
{   
    padding-top:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#ff0066;
	color:white;
}

.logo1 button:hover
{
	background-color:white;
	color:#ff0066;
}

/* END SEARCH STUDENT */

/* ======================================================================================================== */

/* START PLACED STUDENT */


.mainbox
{
	/* background-color:#ff0066; */
	height:110%;
	margin-top:4%;
	padding-top:0px;
	padding:0px;
}



.mainbox .mainsearchbox  
{
	padding:0px;
	/* background-color:yellow; */
	height:150px;
	margin:0px;
	padding-left:0px;
	padding-right:0px;
}


.mainbox .searchbox
{
	/* margin-bottom:10%; */
	/* background-color:green; */
	padding-bottom:0px;
	padding-top:0px;
	padding:0px;
	height:100px;
	padding-left:0px;
	padding-right:0px;
}

.mainbox .searchbox1 
{
	padding:0px;
	/* background-color:pink; */
	height:100px;
	padding-left:0px;
	padding-right:0px;
}

.mainbox .searchbox1 h1
{
	/* margin-bottom:10%; */
	/* background-color:blue; */
	height:60px;
	padding-right:20px;
	padding-left:20px;
	/* padding-top:100px; */
}





.mainbox .searchbox .pager button
{
	margin-top:0%;
	border-radius:60%;
	/* font-size:18px; */
	line-height:30px;
	background-color:#ff0066;
	color:white;
	border:none;
}

.mainbox .searchbox .pager button:hover
{
	background-color:white;
	color:#ff0066;
}



.mainbox .mainboxofimg
{
	
	/* background-color:gray; */
	height:200px;
	margin:0px;
	padding:0px;
}

.mainbox .mainboxofimg .boxoftwo 
{
	
	/* background-color:yellow; */
	height:200px;
	margin:0px;
	padding:0px;
}

.mainbox .mainboxofimg .boxoftwo .img1
{
	/* background-color:blue; */
	height:150px;
	margin:0px;
	padding:0px;
}



.mainbox .mainboxofimg .imgbox1
{
	/* background-color:green; */
	height:200px;
	margin:0px;
	padding:0px;
	/* margin-bottom:15px; */
}

.mainbox .mainboxofimg .imgbox1 img
{
	
	height:150px;
	width:150px;
	border-radius:80px;
	border:3px solid gray;
}

/* END PLACED STUDENT */


/* START OF ABOUT AND CONTACTUS -FOOTER */


.about
{
    height:80%;
    width:100%;
    background-color:red;
   margin-top:5%;
   position:relative;
   color:white;

    padding:0px;
}
.container
{

height:100%;

}
.about
{
    height: 100%;
}
.about h1
{
    font-size:50px;
    font-weight:bold;
    margin-top:0px;
}
.about p
{
   
   font-size:17px;
   font-weight:bold;

}

.about:before{
    background: linear-gradient(-45deg, red 16px ,red 16px,red 16px,  transparent 0), 
                linear-gradient(45deg, red 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;
    height: 32px;
    width: 100%;
    position: relative;
    bottom: 32px;
    left:0;
    right:0px;
}


.about:after{
    background: 
                linear-gradient(-45deg, transparent 16px, rgb(255, 0, 0) 0), 
                linear-gradient(45deg, transparent 16px, rgb(255, 0, 0)  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;

    width: 100%;
    height: 32px;

     position: relative;
    /* top:0%; */
    left:0;
    bottom: -10px;
}

.contact h1
{
    color:grey;
    font-weight:bold;
    font-size:50px;
    margin-bottom:4%;
    
}
.contact h3
{
    font-weight:bold;
    font-size:23px;
    margin-bottom:2%;
}
.contact p
{
    font-size:20px;
    margin-bottom:10%;
}



.footer{
    /* margin: 32px 0; */
    margin-top: 50px;
    /* height:50vh; */
    padding: 32px 0;

    background-color:red;
    height:100px;
    position:relative;
}
.footer .fa
{
    /* font-size:30px; */
    color:white;
}

.footer:before{
    background: 
                linear-gradient(-45deg, red 16px, red 16px, red 16px,  transparent 0), 
                linear-gradient(45deg, red 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;

    height: 32px;
    width: 100%;

    position: relative;
    bottom: 64px;
    left:0;
}
.footer p
{
bottom:30px;
    color:white;
    position:relative;
}





/* END OF ABOUT AND CONTACTUS -FOOTER */
/*Responsive*/
/*large*/
@media (min-width:992px) and (max-width:1199px) 
{
    .header_div_one
    {
        width: 123%;
    }
    .header_div_one ul 
    {
        position: relative;
        left: 155px;
    }
    .header_div_one
    {
        width: 100%;
    }
    .item figure img 
    {
        height: 100%;
    }
    .item figure img 
    {
        height: 350px;
        width: 100%;
    }
    .login_form
    {
        height: 300px;
    }
    .login_form  img
    {
        height: 300px;
    }
    .carousel-caption form
    {
        height: 200px;
    }
    .carousel-caption .login_form img
    {
        height: 100%;
    }
    .carousel-caption .login_form
    {
        position:relative;
        margin-top: -430px;
        top:215px;
        width:50%;
        padding:0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0px 0px 20px 17px rgba(0, 0, 0, 0.19);-webkit-box-shadow: 20px 14px 26px 6.9;
    }
    .navbar.navbar-inverse 
    {    
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);    
        border: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);
    }
/* END */
/* =============================================================================== */
    /* START SEARCH STUDENT */
    
        .searchbox h1
        {
            color:white;
            padding:3%;
        }
        
        .imagesbox
        {
            /* background-color:#ff0066; */
            /* background-color:blue; */
            height:300%;
            margin-top:0px;
            padding-top:0px;
            margin-top:2%;
        }
        /* 
        .imagesbox:after{
            background: 
                        linear-gradient(-45deg, transparent 16px, #ff0066 0), 
                        linear-gradient(45deg, transparent 16px, #ff0066  0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 22px 32px;
            content: "";
            display: block;
        
            width: 100%;
            height: 40px;
        
             position: relative;
            top:0%;
            left:0;
        } */
        
        
        .imagesbox .boxof4
        {
            /* background-color:yellow; */
            /* background-color:#ff0066; */
            height:390px;
            padding-top:5%;
            
        }
        
        
        .imagesbox .boxof4 .box1
        {
            /* background-color:red; */
            height:300px;
        }
        
        
        .logo1
        {
            background-color:white;
            height:280px;
            padding:5%;
        }
        
        .logo1 img
        {
            
            height:100px;
            width:100px;
            border-radius:50px;
        }
        
        .logo1 h4
        {
            padding:15px;
            background-color:#ff0066;
            font-size:21px;
            height:50px;
        }
        
        .logo1 button
        {   
            padding-top:10px;
            margin-top:10px;
            margin-bottom:10px;
            background-color:#ff0066;
            color:white;
        }
        
        .logo1 button:hover
        {
            background-color:white;
            color:#ff0066;
        }
    /* END SEARCH STUDENT */



    /* START PLACED STUDENT */
     	
.mainbox
{
	/* background-color:white; */
	/* background-color:#ff0066; */
	/* background-color:pink; */
	background-color:white;
	height:160%;
	margin-top:0px;
	padding-top:0px;
	padding:0px;
	padding-bottom:0px;
}
	
   
.mainbox .mainboxofimg
{
	background-color:white;
	/* background-color:yellow; */
	height:25%;
	margin:0px;
	padding:0px;
}
   .mainbox .mainboxofimg .imgbox1
{
	/* background-color:green; */
	height:200px;
	margin:0px;
	padding:0px;
	/* margin-bottom:15px; */
	background-color:white;
}

.mainbox .mainboxofimg .imgbox1 img
{
	
	height:150px;
	width:150px;
	border-radius:80px;
}

.mainbox .searchboxmain
{
	padding:0px;
	padding-bottom:0px;
	
}

.mainbox .searchbox
{
	/* margin-bottom:10%; */
	/* background-color:red; */
	padding:0px;
	margin-bottom:0px;
	/* background-color:white; */
	margin-bottom:8%;
}





.mainbox .mainboxofimg .boxoftwo 
{
	
	/* background-color:green; */
	/* background-color:red; */
	background-color:white;
	height:210px;
	margin:0px;
	padding:0px;
}

.mainbox .mainboxofimg .boxoftwo .img1
{
	/* background-color:blue; */
	background-color:white;
	height:150px;
	margin:0px;
	padding:0px;
}



.mainbox .searchbox h1
{
	/* margin-bottom:10%; */
	/* background-color:blue; */
	
	height:60px;
	/* background-color:white; */
	font-size:35px;
	padding:0px;
	padding-top:20px;
	/* margin-bottom:8%; */
}



.mainbox .searchbox .pager 
{
	/* background-color:yellow; */
	height:60px;
	padding:0px;
	/* background-color:white; */
}

.mainbox .searchbox .pager li 
{
	/* background-color:gray; */
	height:60px;
	padding:0px;
	/* background-color:white; */
}


.mainbox .searchbox .pager button
{
	margin-top:0%;
	border-radius:50%;
	/* font-size:18px; */
	/* line-height:20px; */
	background-color:#ff0066;
	/* background-color:blue; */
	height:60px;
	color:white;
	border:none;
}

.mainbox .searchbox .pager button:hover
{
	background-color:white;
	color:#ff0066;
}


    /* END PLACED STUDENT */

    /* START OF ABOUTUS AND CONTACTUS -FOOTER */

    .about
    {
        height:110%;
        width:100%;
        background-color:red;
       margin-top:5%;
       position:relative;
       color:white;
        
    }
    .xyz2
    {
    background-color:red;
    height:100%;
    margin-top:0px;
    
    }
    
    .about h1
    {
        font-size:50px;
        font-weight:bold;
        margin-top:0px;
    }
    .about p
    {
       font-size:15px;
       font-weight:bold;
    }
    
    .about:before{
        background: 
                    linear-gradient(-45deg, red 16px, red 16px, red 16px,  transparent 0), 
                    linear-gradient(45deg, red 16px, transparent 0);
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 22px 32px;
        content: " ";
        display: block;
    
        height: 32px;
        width: 100%;
    
        position: relative;
        bottom: 32px;
        left:0;
        right:0px;
    }
    
    .about:after{
        background: 
                    linear-gradient(-45deg, transparent 16px, rgb(255, 0, 0) 0), 
                    linear-gradient(45deg, transparent 16px, rgb(255, 0, 0)  0);
        background-repeat: repeat-x;
        background-position: left bottom;
        background-size: 22px 32px;
        content: "";
        display: block;
    
        width: 100%;
        height: 32px;
    
         position: relative;
        /* top:0%; */
        left:0;
        bottom: -10px;
    }
    
    .contact h1
    {
        color:grey;
        font-weight:bold;
        font-size:50px;
        margin-bottom:4%;
       
    }
    .contact h3
    {
        font-weight:bold;
        font-size:23px;
        margin-bottom:2%;
    }
    .contact p
    {
        font-size:20px;
        margin-bottom:10%;
    }
  

/* END OF ABOUT AND CONTACTUS -FOOTER */

}

/*small*/
@media (min-width:768px) and (max-width:991px) 
{
    .header_div_one
    {
        width: 100%;
    }
    .item figure img 
    {
        height: 100%;
    }
    .item figure img 
    {
        height: 350px;
        width: 100%;
    }
    .login_form
    {
        height: 300px;
    }
    .login_form  img
    {
        height: 300px;
    }
    .carousel-caption form
    {
        height: 200px;
    }
    .carousel-caption .login_form img
    {
        height: 100%;
    }
    .carousel-caption .login_form
    {
        position:relative;
        margin-top: -430px;
        top:215px;
        width:100%;
        padding:0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0px 0px 20px 17px rgba(0, 0, 0, 0.19);-webkit-box-shadow: 20px 14px 26px 6.9;
    }
    .navbar.navbar-inverse 
    {    
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);    
        border: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);
    }
/* END  */
/* ============================================================================== */
/* START SEARCH STUDENT */
.searchbox h1
{
	color:white;
	font-size:22px;
	padding:3%;
}

.imagesbox
{
	background-color:#ff0066;
	/* background-color:gray; */
	height:508%;
	/* margin-top:0px; */
	padding-top:0px;
	margin-top:2.5%;
}


.imagesbox .boxof4
{
	/* background-color:yellow; */
	/* background-color:#ff0066; */
	height:48.5%;
	padding-top:2%;
}


.imagesbox .boxof4 .box1
{
	/* background-color:red; */
	height:320px;
}



.logo1
{
	/* background-color:pink; */
	background-color:white;
	height:290px;
	padding:5%;
}

.logo1 img
{
	
	height:100px;
	width:100px;
	border-radius:50px;
}

.logo1 h4
{
	padding:15px;
	background-color:#ff0066;
	font-size:21px;
	height:50px;
}

.logo1 button
{   
    padding-top:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#ff0066;
	color:white;
	
}

.logo1 button:hover
{
	background-color:white;
	color:#ff0066;
}

/* START PLACED STUDENT */
 
     	
.mainbox
{
	/* background-color:white; */
	/* background-color:#ff0066; */
	/* background-color:pink; */
	background-color:white;
	height:280%;
	margin-top:0px;
	padding-top:0px;
	padding:0px;
	padding-bottom:0px;
}
	
   
.mainbox .mainboxofimg
{
	background-color:white;
	/* background-color:yellow; */
	height:28%;
	margin:0px;
	padding:0px;
}
   .mainbox .mainboxofimg .boxoftwo .imgbox1
{
	/* background-color:green; */
	height:200px;
	margin:0px;
	padding:0px;
	/* margin-bottom:15px; */
	/* background-color:white; */
}





.mainbox .mainboxofimg .boxoftwo 
{
	
	/* background-color:green; */
	/* background-color:red; */
	background-color:white;
	/* height:500px; */
	margin:0px;
	padding:0px;
}

.mainbox .mainboxofimg .boxoftwo .img1
{
	/* background-color:blue; */
	background-color:white;
	height:150px;
	margin:0px;
	padding:0px;
}









.mainbox .mainboxofimg .imgbox1 img
{
	
	height:150px;
	width:150px;
	border-radius:80px;
}

.mainbox .searchboxmain
{
	padding:0px;
	padding-bottom:0px;
	
}

.mainbox .searchbox
{
	/* margin-bottom:10%; */
	/* background-color:green; */
	padding:0px;
	margin-bottom:0px;
	background-color:white;
	margin-bottom:8%;
}

.mainbox .searchbox h1
{
	/* margin-bottom:10%; */
	/* background-color:blue; */
	
	height:60px;
	/* background-color:white; */
	font-size:35px;
	padding:0px;
	padding-top:20px;
	/* margin-bottom:8%; */
}



.mainbox .searchbox .pager 
{
	/* background-color:yellow; */
	height:60px;
	padding:0px;
	/* background-color:white; */
}

.mainbox .searchbox .pager li 
{
	/* background-color:gray; */
	height:60px;
	padding:0px;
	/* background-color:white; */
}


.mainbox .searchbox .pager button
{
	margin-top:0%;
	border-radius:50%;
	/* font-size:18px; */
	/* line-height:20px; */
	background-color:#ff0066;
	/* background-color:blue; */
	height:60px;
	color:white;
	border:none;
}

.mainbox .searchbox .pager button:hover
{
	background-color:white;
	color:#ff0066;
}



/* END PLACED STUDENT */

    /* <!-- START OF ABOUT US AND CONTACT US -FOOTER --> */

    .about
    {
      
        width:100%;
        background-color:red;
       position:relative;
       color:white;
        
    }
    .xyz2
    {
        background-color:red;
    }
    
    .about h1
    {
        font-size:50px;
        font-weight:bold;
        margin-top:0px;
    }
    .about p
    {
      
       font-size:15px;
       font-weight:bold;
       margin-top:0px;
    }
    
    .about:before{
        background: 
                    linear-gradient(-45deg, red 16px, red 16px, red 16px,  transparent 0), 
                    linear-gradient(45deg, red 16px, transparent 0);
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 22px 32px;
        content: " ";
        display: block;
    
        height: 32px;
        width: 100%;
    
        position: relative;
        bottom: 32px;
        left:0;
        right:0px;
    }
    
    .about:after{
        background: 
                    linear-gradient(-45deg, transparent 16px, rgb(255, 0, 0) 0), 
                    linear-gradient(45deg, transparent 16px, rgb(255, 0, 0)  0);
        background-repeat: repeat-x;
        background-position: left bottom;
        background-size: 22px 32px;
        content: "";
        display: block;
    
        width: 100%;
        height: 32px;
    
         position: relative;
        /* top:0%; */
        left:0;
        bottom: -10px;
    }
    .contact h1
    {
        color:grey;
        font-weight:bold;
        font-size:50px;
        margin-bottom:4%;
       
    }
    .contact h3
    {
        font-weight:bold;
        font-size:23px;
        margin-bottom:2%;
    }
    .contact p
    {
        font-size:20px;
        margin-bottom:10%;
    }
   

 /* <!-- END OF ABOUT US AND CONTACT US -FOOTER --> */
}

/*mobile*/
@media (min-width:480px) and (max-width:767px) 
{
    .collapse
    {
        background-color: black;
    }
    .header_div_one #logo_li
    {
        display: none;
    }
    .header_div_one
    {
        width: 80%;
    }
    .navbar.navbar-inverse 
    {    
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);    
        border: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);
    }
    .carousel-caption
    {
        position: relative;
        bottom: 100px;
    }
    .carousel-caption .login_form
    {
        position:relative;
        top:170px;
        width:80%;
        padding:0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0px 0px 20px 17px rgba(0, 0, 0, 0.19);-webkit-box-shadow: 20px 14px 26px 6.9;
    }
    .item figure img
    {
        height: 400px;
    }
/* END */
/* ========================================================================================= */
/* START SEARCH STUDENT */
.searchbox h1
{
	color:white;
	font-size:22px;
	padding:3%;
}

.imagesbox
{
	background-color:#ff0066;
	/* background-color:gray; */
	height:508%;
	/* margin-top:0px; */
	padding-top:0px;
	margin-top:2.5%;
}


.imagesbox .boxof4
{
	/* background-color:yellow; */
	background-color:#ff0066;
	height:48.5%;
	padding-top:2%;
}


.imagesbox .boxof4 .box1
{
	/* background-color:red; */
	height:320px;
}



.logo1
{
	/* background-color:pink; */
	background-color:white;
	height:310px;
	padding:5%;
}

.logo1 img
{
	
	height:100px;
	width:100px;
	border-radius:50px;
}

.logo1 h4
{
	padding:15px;
	background-color:#ff0066;
	font-size:21px;
	height:50px;
}

.logo1 button
{   
    padding-top:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#ff0066;
	color:white;
	
}

.logo1 button:hover
{
	background-color:white;
	color:#ff0066;
}
/* END SEARCH STUDENT */
/* =============================================================== */




/* START PLACED STUDENT */

   	
.mainbox
{
	background-color:white;
	/* background-color:#ff0066; */
	/* background-color:pink; */
	/* background-color:white; */
	height:710%;
	margin-top:0px;
	padding-top:0px;
	padding:0px;
	padding-bottom:0px;
}
	

.mainbox .mainboxofimg
{
	/* background-color:white; */
	/* background-color:blue; */
	height:32%;
	margin:0px;
	padding:0px;
}

   
   .mainbox .mainboxofimg .boxoftwo .imgbox1
{
	/* background-color:green; */
	height:200px;
	margin:0px;
	padding:0px;
	/* margin-bottom:15px; */
	/* background-color:white; */
}


.mainbox .mainboxofimg .boxoftwo 
{
	
	/* background-color:yellow; */
	/* background-color:red; */
	/* background-color:white; */
	/* height:20%; */
	margin:0px;
	padding:0px;
}

.mainbox .mainboxofimg .boxoftwo .img1
{
	/* background-color:blue; */
	/* background-color:white; */
	height:150px;
	margin:0px;
	padding:0px;
}


.mainbox .mainboxofimg .imgbox1 img
{
	
	height:150px;
	width:150px;
	border-radius:80px;
}

.mainbox .searchboxmain
{
	padding:0px;
	padding-bottom:0px;
	
}

.mainbox .searchbox
{
	/* margin-bottom:10%; */
	/* background-color:green; */
	padding:0px;
	margin-bottom:0px;
	background-color:white;
}

.mainbox .searchbox h1
{
	/* margin-bottom:10%; */
	/* background-color:blue; */
	
	height:60px;
	/* background-color:white; */
	font-size:22px;
	padding:0px;
	padding-top:20px;
}



.mainbox .searchbox .pager 
{
	/* background-color:yellow; */
	height:60px;
	padding:0px;
	background-color:white;
}

.mainbox .searchbox .pager li 
{
	/* background-color:gray; */
	height:60px;
	padding:0px;
	/* background-color:white; */
}


.mainbox .searchbox .pager button
{
	margin-top:0%;
	border-radius:50%;
	/* font-size:18px; */
	/* line-height:20px; */
	background-color:#ff0066;
	/* background-color:blue; */
	height:60px;
	color:white;
	border:none;
}

.mainbox .searchbox .pager button:hover
{
	background-color:white;
	color:#ff0066;
}




  

/* END PLACED STUDENT */


/* <!-- START OF ABOUT US AND CONTACT US -FOOTER --> */
.about
{
    
    width:100%;
    background-color:red;
   position:relative;
   color:white;
    
}
.xyz2
{
background-color:red;

}

.about h1
{
    font-size:50px;
    font-weight:bold;
    margin-top:0px;
}
.about p
{
   
   font-size:15px;
   font-weight:bold;
   margin-top:0px;
}

.about:before{
    background: 
                linear-gradient(-45deg, red 16px, red 16px, red 16px,  transparent 0), 
                linear-gradient(45deg, red 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;

    height: 32px;
    width: 100%;

    position: relative;
    bottom: 32px;
    left:0;
    right:0px;
}

.about:after{
    background: 
                linear-gradient(-45deg, transparent 16px, red 0), 
                linear-gradient(45deg, transparent 16px, red  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;

    width: 100%;
    height: 32px;

     position: relative;
    top:0%;
    left:0%;
}


.contact h1
{
    color:grey;
    font-weight:bold;
    font-size:50px;
    margin-bottom:4%;
   
}
.contact h3
{
    font-weight:bold;
    font-size:23px;
    margin-bottom:2%;
}
.contact p
{
    font-size:20px;
    margin-bottom:10%;
}

/* <!-- END OF ABOUT US AND CONTACT US -FOOTER --> */
}

/*portrait*/
@media(max-width:479px) 
{
    .collapse
    {
        background-color: black;
    }
    .header_div_one #logo_li
    {
        display: none;
    }
    .item figure img 
    {
        height: 350px;
    }
    .login_form
    {
        height: 300px;
    }
    .login_form  img
    {
        height: 300px;
    }
    .carousel-caption form
    {
        height: 200px;
    }
    .carousel-caption .login_form img
    {
        height: 100%;
    }
    .carousel-caption .login_form
    {
        position:relative;
        margin-top: -430px;
        top:200px;
        width:100%;
        padding:0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0px 0px 20px 17px rgba(0, 0, 0, 0.19);-webkit-box-shadow: 20px 14px 26px 6.9;
    }
    .navbar.navbar-inverse 
    {    
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);    
        border: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.637) 100%);
    }
/* =========================================================== */
    .input_group_textbox input
    {
        border-radius: 0px;
    }

/* END */
/* =================================================================================== */
/* START SEARCH STUDENT */
.searchbox h1
{
	color:white;
	font-size:22px;
	padding:3%;
}

.imagesbox
{
	background-color:#ff0066;
	/* background-color:pink; */
	/* background-color:white; */
	height:901%;
	margin-top:5%;
	padding-top:0px;
}

.imagesbox .boxof4
{
	/* background-color:yellow; */
	background-color:#ff0066;
	height:50%;
	padding-top:2%;
}


.imagesbox .boxof4 .box1
{
	/* background-color:red; */
	height:300px;
}



.logo1
{
	/* background-color:pink; */
	background-color:white;
	height:280px;
	padding:5%;
}

.logo1 img
{
	
	height:100px;
	width:100px;
	border-radius:50px;
}

.logo1 h4
{
	padding:15px;
	background-color:#ff0066;
	font-size:21px;
	height:50px;
}

.logo1 button
{   
    padding-top:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#ff0066;
	color:white;
	
}

.logo1 button:hover
{
	background-color:white;
	color:#ff0066;
}
/* END SEARCH STUDENT */


/* START PLACED STUDENT */

	
.mainbox
{
	/* background-color:#ff0066; */
	/* background-color:pink; */
	background-color:white;
	height:715%;
	margin-top:0px;
	padding-top:0px;
	padding:0px;
	padding-bottom:0px;
}
	
.mainbox .mainboxofimg
{
	/* background-color:white; */
	/* background-color:gray; */
	height:32%;
	margin:0px;
	padding:0px;
}
   
   .mainbox .mainboxofimg .boxoftwo .imgbox1
{
	/* background-color:red; */
	height:200px;
	margin:0px;
	padding:0px;
	/* margin-bottom:15px; */
	/* background-color:white; */
}



.mainbox .mainboxofimg .boxoftwo 
{
	
	/* background-color:yellow; */
	/* background-color:red; */
	/* background-color:white; */
	/* height:450px; */
	height:53%;
	margin:0px;
	padding:0px;
}


.mainbox .mainboxofimg .boxoftwo .img1
{
	/* background-color:blue; */
	background-color:white;
	height:150px;
	margin:0px;
	padding:0px;
}








.mainbox .mainboxofimg .boxoftwo .imgbox1 .img1 img
{
	
	height:150px;
	width:150px;
	border-radius:80px;
}

.mainbox .searchboxmain
{
	padding:0px;
	padding-bottom:0px;
	
}

.mainbox .searchbox
{
	/* margin-bottom:10%; */
	/* background-color:green; */
	padding:0px;
	margin-bottom:0px;
	background-color:white;
}

.mainbox .searchbox h1
{
	/* margin-bottom:10%; */
	/* background-color:blue; */
	/* background-color:blue; */
	/* height:60px; */
	background-color:white;
	font-size:21px;
	padding:0px;
	padding-top:20px;
}



.mainbox .searchbox .pager 
{
	/* background-color:yellow; */
	height:60px;
	background-color:white;
}

.mainbox .searchbox .pager li 
{
	/* background-color:gray; */
	height:60px;
	background-color:white;
}


.mainbox .searchbox .pager button
{
	margin-top:0%;
	border-radius:50%;
	/* font-size:18px; */
	/* line-height:20px; */
	background-color:#ff0066;
	/* background-color:blue; */
	height:60px;
	color:white;
	border:none;
}

.mainbox .searchbox .pager button:hover
{
	background-color:white;
	color:#ff0066;
}



/* END PLACED STUDENT */

/* <!-- START OF ABOUT US AND CONTACT US -FOOTER --> */
.about
{
   
    width:100%;
    background-color:red;
   position:relative;
   color:white;
    
}
.xyz2
{

    background-color:red;
}

.about h1
{
    font-size:50px;
    font-weight:bold;
    margin-top:0px;
}
.about p
{
   font-size:15px;
   font-weight:bold;
   margin-top:0px;
}

.about:before{
    background: 
                linear-gradient(-45deg, red 16px, red 16px, red 16px,  transparent 0), 
                linear-gradient(45deg, red 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;

    height: 32px;
    width: 100%;

    position: relative;
    bottom: 32px;
    left:0;
    right:0px;
}

.about:after{
    background: 
                linear-gradient(-45deg, transparent 16px, red 0), 
                linear-gradient(45deg, transparent 16px, red  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;

    width: 100%;
    height: 32px;

     position: relative;
    top:0%;
    left:0%;
}

.contact h1
{
    color:grey;
    font-weight:bold;
    font-size:30px;
    margin-bottom:4%;
   
}
.contact h3
{
    font-weight:bold;
    font-size:23px;
    margin-bottom:2%;
}
.contact p
{
    font-size:15px;
    margin-bottom:10%;
}

/* <!-- END OF ABOUT US AND CONTACT US -FOOTER --> */
}