*
{
    margin: 0px;
    padding: 0px;
    
}
.logo
{
    height: 100%;
}
.logo img
{
    width: 100%;
    /* height: 100%; */
    border: 1px solid red;
    margin-left: 100%;


}
.navigation
{
    margin-top: 5%;
}


/*Responsive*/
/*large*/
@media (min-width:992px) and (max-width:1199px)
{

}
/*small*/
@media (min-width:768px) and (max-width:991px)
{

}
/*mobile*/
@media (min-width:480px) and (max-width:767px)
{

}
/*portrait*/
@media(max-width:479px)
{

}