$white: #FFFFFF;
$light-gray: #A7A7A7;
$gray: #EBE9EB;
$dark-gray: #606060;
$accent: #03AFC2;
$dark-blue: #223843;

$text-primary: $gray;
$text-accent: $accent;
// $text-second:

body
{
    background: red;
    font-family: 'Courier New', Courier, monospace;
}
