*{
margin:0px;
padding:0px;
}

.header-menu, .navbar{
background:transparent;
}

.carousel-inner .item img{
width:100%;
height:100vh;
margin-bottom:0px;
}

.header{
position:relative;
width:100%;
}
.logo{
width:100%;
text-align:center;
margin-top:5%;
}

.header-menu{
width:100%;
position:absolute;
z-index:5;
}

.slider{
z-index:1;
height:100vh;
}

.navbar .collapse .nav{
margin-left:25%;
text-align:center;
}

.navbar .collapse .nav li a{
color:orange;
font-weight:bold;
font-size:15px;
background:none;
}

.navbar .collapse .nav li a:hover{
color:white;
text-decoration:underline;
}

.navbar-toggle{
background:transparent;
}
.navbar-toggle .icon-bar{
background-color:white;
}

.about{
margin-top:0px;
padding:0px;
height:0vh;
}

.about h1{
text-align:center;
font-family:myfont;
font-size:100px;
color:orange;
}
@font-face{
font-family:myfont;
src:url(../fonts/LittleLordFontleroyNF.ttf);
}

.about p{
text-align:center;
color:gray;
margin-bottom:3%;
}

.about-content p{
text-align:justify;
}
.overlaymain{
position:relative;
transition:all 5s;
}
.overlaymain img{
position:absolute;
}

.overlaymain  .overlay{
top:0;
width:95%;
height:100%;
opacity:1;
background-color : rgba(255,0,0,.9);
position:absolute;
transform:translateX(0%) scale(0,0);
transition:all 5s;
font-size:30px;
color:white;
font-weight:bold;
padding-top:50%;
}

.overlaymain:hover >  .overlay{
-webkit-transform:translateX(0%) scale(1,1);
}


/*Responsive*/
/*large*/
@media (min-width:992px) and (max-width:1199px)
{
.about{
margin-top:0px;
padding:0px;
height:0vh;
}
}

/*small*/
@media (min-width:768px) and (max-width:991px)
{
.navbar .collapse .nav{
margin-left:5%;
text-align:center;
}

.navbar .collapse .nav li a{
color:orange;
font-weight:bold;
font-size:12px;
background:none;
}

.carousel-inner .item img{
width:100%;
height:40vh;
margin-bottom:0px;

}
.about{
margin-top:0px;
padding:0px;
height:0vh;
background:red;
}
.slider{
z-index:1;
height:40vh;
}
}

/*mobile*/
@media (min-width:480px) and (max-width:767px)
{
.navbar .collapse .nav{
margin-left:0%;
text-align:center;
}

.navbar .collapse .nav li a{
color:orange;
font-weight:bold;
font-size:12px;
background:gray;
}

.carousel-inner .item img{
width:100%;
height:30vh;
margin-bottom:0px;
}

.slider{
z-index:1;
height:30vh;
}

.about{
margin-top:0px;
padding:0px;
height:0vh;
}
}

/*portrait*/
@media(max-width:479px)
{
.navbar .collapse .nav{
margin-left:0%;
text-align:center;
}

.navbar .collapse .nav li a{
color:orange;
font-weight:bold;
font-size:12px;
background:gray;
}

.carousel-inner .item img{
width:100%;
height:20vh;
margin-bottom:0px;
}

.slider{
z-index:1;
height:20vh;
}

.about p{
text-align:justify;
margin:2% 5%;
}
}