.profile-img {
  border-radius: 999px;
  height: 280px;
  width: 280px;
  border: 5px solid red; }

.profile-img:hover {
  opacity: 0.6; }

.header-div {
  background: linear-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0.914)), url("../images/bg.jpg");
  height: 100vh;
  width: 100%; }

.header-div .top-harizontal {
  position: absolute;
  width: 300px;
  top: 40%;
  left: 39%; }

.header-div .bottom-harizontal {
  position: absolute;
  width: 300px;
  top: 89%;
  left: 39%; }

.header-div .welcome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header-div .portfolio {
  text-transform: uppercase;
  color: #0a8899;
  font-size: 90px;
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%); }

.navaigation {
  width: 50px;
  height: 10px;
  color: white;
  position: absolute;
  left: 10%;
  top: 15%;
  z-index: 5; }

.navaigation::after {
  width: 50px;
  height: 10px;
  color: white;
  position: absolute;
  left: 10%;
  top: 15%; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  padding: 0px;
  margin: 0px; }

/*# sourceMappingURL=index.css.map */
