#groove
{
    border-style: groove;
    text-align: center;
}
.none
{
    border-style: none;
    text-align: center;
}
#solid
{
    border-style: solid;
    text-align: center;
}
.dotted
{
    border-style: dotted;
    text-align: center;
}
#dashed
{
    border-style: dashed;
    text-align: center;
}
.double
{
    border-style: double;
    text-align: center;
}
#ridge
{
    border-style: ridge;
    text-align: center;
}
#inset
{
    border-style: inset;
    text-align: center;
}
#outset
{
    border-style: outset;
    text-align: center;
}
#hidden
{

    border-style: hidden;
    text-align: center;
}