.alldives div
{
    margin-left: 1px;
}
body
{
    background-image: url('images/3.jpg');
    
}
.MainDiv div
{
    margin-left: 20px;
}

.firstdiv
{
    background-color: lightblue;
    border: 1px solid green;
    width: 200px;
    height: 250px;
    float: left;
}
#img1:hover
{
    border: 1px solid red;
    
}
.firstdiv #img1
{
    /*border: 1px solid Red;*/
    padding:12px;
    height: 121px;
    width: 174px;
}
.seconddiv
{
    background-color: lightcoral;
    border:1px solid green;
    width: 200px;
    height: 250px;
    float: left;

}
.seconddiv #img1
{
    /*border: 1px solid Red;*/
    padding:12px;
    height: 121px;
    width: 174px;
}
.thireddiv
{
    background-color: lightgreen;
    border:1px solid green;
    width: 200px;
    height: 250px;
    float: left;

}
.thireddiv #img1
{
    /*border: 1px solid Red;*/
    padding:12px;
    height: 121px;
    width: 174px;
}

.fourthdiv
{
    background-color:lightpink;
    border:1px solid green;
    width: 200px;
    height: 250px;
    float: left;

}
.fourthdiv #img1
{
    /*border: 1px solid Red;*/
    padding:12px;
    height: 121px;
    width: 174px;
}

.fiftdiv
{
    background-color: lightsalmon;
    border:1px solid green;
    width: 200px;
    height: 250px;
    float: left;

}
.fiftdiv #img1
{
    /*border: 1px solid Red;*/
    padding:12px;
    height: 121px;
    width: 174px;
}

.sixthdiv
{
    background-color:lightseagreen;
    border:1px solid green;
    width: 200px;
    height: 250px;
    float: left;

}
.sixthdiv #img1
{
    /*border: 1px solid Red;*/
    padding:12px;
    height: 121px;
    width: 174px;
}
