#Top
{
    border: 5px solid green;
    margin-top: 50px;
    
}
.Buttom
{
    border: 5px solid khaki;
    margin-bottom: 50px;
}
#Left
{
    border: 5px solid gold;
    margin-left: 50px;
}
.Right
{
    border: 5px solid lawngreen;
    margin-right: 50px;
}