.MenuClass
{
    border: 3px dotted rebeccapurple;
    background-color: green;
    height: 50px;
}
.MenuClass ul li
{
    list-style: none;
    display: inline;

}
.MenuClass ul li a
{
    text-decoration: none;
    /*padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-left: 5px;*/
    padding: 15px;
    color: white;
    font-family:monospace;
    font-size: 20px;
}
.MenuClass ul li a:hover
{
    background-color: lightgreen;
    
}
.image
{
        padding: 35px;
        margin-left: 42px;

}
