*
{
    margin: 0px;
    padding: 0px;
}
header
{
    background-color: black;
    height: 80px;
    width: 100%;
    opacity: 0.8;
}
header ul
{
    padding: 26px 240px;
}
header ul li
{
    color: white;
    display: inline;
    padding: 60px 30px;
}
header ul li:hover
{
    background-color: lightgreen;
}
header ul li ul li
{
    /* display: block; */
    opacity: 1;
    
}