div.FirstDiv
{
    border: 2px solid lightgreen;
    background-color: lightgreen;
    height: 220px;
    padding-left: 10%;
}

div.FirstDiv #heading1
{
    margin-top: 2%;
    color:white;
}
.FirstDiv #smallhead
{
    font-size: 13px;
}

.menu
{
background-color: red;
margin-top: 120px;   
height: 40px; 
width:90%;
}

.menu .listofmenu
{
    list-style: none;
    display: inline;    
}

li
{
    padding: 2% 2%;
    line-height: 40px;
    display:inline;
}

ul li a
{
color:white;
text-decoration: none;
}
.middlediv1
{
    width: 20%;
    height:500px;
    float: left;
    background-color: lightcyan;
    
}
.middlediv2
{
    width: 70%;
    height: 227%;
    float: left;
    background-color:lightskyblue;
    

}
.middlediv1 ul li a
{
    color:#07fb07;
    /*list-style-type: none;*/
    /*margin: 0px;
    padding: 0px;*/
 
}
/*.middlediv1 ul
{
    
}*/
.middlediv2 .bloc
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.image
{
    margin: 12px;   
}
div .image
{   
    text-align: center;
    float: left;
    width: 20%;
    padding: 5px;
    margin: 12px;
    height: auto;
       
}
