#Top
{
    padding-top: 200px;
    border: 5px solid lightcoral;
}
.Buttom
{
    padding-bottom: 300px;
    border: 5px solid lightpink;
}
#Left
{
    padding-left: 300px;
    border:5px solid lime;
}
.Right
{
    padding-right: 300px;
    border: 5px solid red;
}