*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: lightgreen;
}
.slider
{
   
    overflow: hidden;
    height: 350px;
}
.slider figure div
{
    width: 20%;
    float: left;
}
.slider figure img
{
    width: 100%;
    float: left;
}
.slider figure
{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;

}
@keyframes slidy
{
    0%{left: 0%;}
    10%{left: 0%;}
    12%{left: -100%;}
    22%{left: -100%;}
    24%{left: -200%;}
    
}