*
{
    background-color: black;
}
header
{
    border: 1px solid white;
    height: 100px;
    width: 100%;
    background-color: lightcoral;

}
header h1
{
    color: white;
    background-color: lightcoral;
    text-align: center;
    
}
nav
{
    height: 100px;
    width: 100%;
    background-color: lightpink;
    border: 1px solid white;     
}
nav h1
{
    color: white;
    background-color: lightpink;
    text-align: center;
}
section
{
    height: 500px;
    width:80%;
    background-color: yellow;
    margin-top: 0px;
    border: 1px solid white;
    
}
section h1
{
    background-color: yellow;
    text-align: center;
}
article
{
    height: 175px;
    width: 93%;
    background-color: lightgreen;
    margin: 30px 30px;
    border-radius: 10px;

}
aside
{
    height: 500px;
    width: 20%;
    background-color: lightskyblue;
    float: right;
    margin-top: -502px;
    border: 1px solid white;
        margin-right: -2px;

}
aside h1
{
    background-color: lightskyblue;
    text-align: center;
}
footer
{
    height: 100px;
    width: 100%;
    background-color: palevioletred;
    border: 1px solid white;
}