*
{
    margin: 0px;
    padding:0px;
}
body
{
    background-color:teal;
}
.banner1
{
    
    height: 200px;
    width: 100%;
}
.imgdiv img
{
    height: 200px;
    width: 200px;
    float: left;
    padding: 10px;
}
.headingdiv h1
{
    float: left;
    font-size: 190px;
}

.tav
{
    background-color: lightcoral;
    margin-top: 11px;
}
.tav ul
{
    float: left;
    margin-left: 211px;
    
}
.tav ul li
{
    display: inline;
    margin-left: 20px;
    
}
.tav ul li a
{
    list-style: none;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.tav ul li a:hover
{
    background-color:black;
    border-radius: 10px;
}