div.background
{

    background-image: url('Images/3.jpg');
    border: 2px solid goldenrod;
    height: 200px;
    width: 1346px;
    
}
div.Transpaent
{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid green;
    opacity: 0.6;


}
div.Transpaent p
{
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
body
{
    background-image: url('images/3.jpg');
}