*
{
    
    margin: 0px;
    padding: 0px;
}
.headerdiv
{
    height: 100px;
    width: 100%;
    border: 1px solid green;
    background-color: lightcoral;
}
.headerdiv h1
{
    text-align: center;
    color: black;
    margin-top: 15px;
}
.navdiv
{
    height: 100px;
    width: 100%;
    background-color: orange;
    border: 1px solid green;
}
.navdiv h1
{
    text-align: center;
    color: black;
    margin-top: 0px;
}
.middlediv
{
    border: 1px solid green;
    height: 400px;
    width: 80%;
    background-color:yellow;
    border-radius: 15px;
}
.middlediv h1
{
    text-align: center;
}
.middlediv .firstdiv
{
    border: 1px solid red;
    height: 100px;
    width: 1030px;
    background-color: lightgreen;
    margin-top: 55px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
}
.asidediv
{
    border: 1px solid green;
    background-color: lightskyblue;
    height: 400px;
    width: 20%;
    float: right;
    margin-top: -402px;
}
.footerdiv
{
    border: 1px solid green;
    height: 100px;
    width: 100%;
    background-color: violet;
}
.footerdiv h1
{
    text-align: center;
}