#head
{
    color: black;
    margin-left: 65px;
    
}

#Menu ul li
{
        padding: 25px; 
        list-style: none;
        display: inline;
        

}
#Menu ul
{
    
    background-color:darkslateblue;
 
    padding: auto;
    padding-bottom: 12px;
    padding-top: 12px;
    
}
#Menu ul li a 
{
    text-decoration: none;
    color: white;
}
.headingdiv
{   
    float: left;
    width: 20%;
    margin-left: 65px;
    
    

}
.paragraphdiv
{
    float: left;
    width: 70%;
    
    margin: 20px;  
}
.footer
{    
 
    float: left; 
   
    background-color: gray;
    width: 100%;
    
    
}
.footer h2
{
    margin-left: 1095px;
    padding: 1px;
    color: white;
}