.Titlegdiv
{
   background-color: Red; 
   width: 100%;
   
   height: 100px;
}
.Titlegdiv h1
{
    padding: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.Titlegdiv h4
{
    
    margin-left: 34px;
    margin-top: -52px;
    color: white;
}
.Middlediv
{
    height: 650px;
}
.Middlediv
{
        margin-top: -19px;
}
.Menudiv ul
{
        margin-top: -25px;
}
.Middlediv .Menudiv
{
    background-color: lightgreen;
    width: 15%;
    height: 100%;
}
.Middlediv .Menudiv h3
{
    margin-left: 47px;
    color: white;
    line-height: 70px;
}
.Middlediv .Menudiv ul li
{
    list-style: none;
    line-height: 30%;
    
    
}
.Middlediv .Menudiv ul li a
{
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    color: white;
    
}
.Menubottom h3
{
        margin-top: -21px;
}
.Contentdiv
{
    /*float: left;*/
    
    margin-left: 213px;
    margin-top: -642px;
}
div .Contentdiv
{
        margin-left: 213px;
    margin-top: -642px;
}

.contentdiv
{
    margin-left: 213px;
    margin-top: -642px;
}
.footertext
{
    text-align: center;
    padding-top: 12px;
}