.headerdiv .contentdiv
{
    background-color: #e0e0d1;
    height: 20%;
    padding: 15px;
}
.contentdiv h3 
{
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    
}
.headerdiv .contentdiv h5
{
    padding-left: 30px;
    margin-top: -19px;
    font-style: italic;
}
.menudiv
{
        float: right;
        margin-top: -78px;
}
.menudiv ul
{
    margin-right: 65px;
}
.menudiv ul li
{
    list-style: none;
    display: inline;
  
}
.menudiv ul li a
{
    text-decoration: none;
    padding: 12px 25px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
.menudiv ul li a:hover
{
    background-color: gray;
    
    outline-width: 25px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-style: italic;
    color: lawngreen;
}
.welcomediv
{
    background-color:#3399ff;
    margin-top: -22px;
    height: 140px;
}
.welcomediv h1
{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-left: 46px;
    font-style: italic;
    color: white;
}

.welcomediv pre
{
        margin-left: -90px;
        padding-top: 22px;
        color: white;
        font-style: italic;
        font-size: 16px;
}

 /*********************************************/

 .contentdiv1
 {
         margin-left: 52px;
         width: 25%;
 }
 .contentdiv1 h4
 {
     font-style: italic;
     
 }
 .contentdiv2
 {
         margin-left: 52px;
         width: 25%;
         margin-top: -275px;
         margin-left: 448px;
         
 }
 .contentdiv2 h4
 {
     font-style: italic;
     
 }
 .contentdiv3
 {
         margin-left: 853px;
         margin-top: -272px;
         margin-right: 90px;
         
 }
 .contentdiv3 h4
 {
     font-style: italic;
     
 }
 .footercontentdiv
 {
         margin-left: 51px;
         margin-top: 57px;
         width: 54%;
 }
 .footercontentdiv h4
 {
     font-style: italic;
 }
 .footercontentdiv2
 {
     margin-left: 853px;
     margin-top: -184px;
     margin-right: 68px;
 }
 .footercontentdiv2 h4
 {
     font-style: italic;
 }
.footermenudiv 
 {
     
     background-color: #e0e0d1;
         height: 50px;
             padding: 7px;
 }
 .footermenudiv ul
 {
    list-style: none;
    
 }
 .footermenudiv ul li
 {
     display: inline;
 }
  .footermenudiv ul li a
  {
        text-decoration: none;
        padding:10px 20px;
        color: black;
        
  }
.footercornertext
{
    margin-left: 976px;
    margin-top: -58px;
}
.footermenudiv ul li a:hover
{
    background-color: blueviolet;
    outline-width: 25px;
    border-bottom-left-radius: 30px;
    /*border-bottom-right-radius: 30px;*/
    /*border-top-left-radius: 30px;*/
    border-top-right-radius: 30px;
    font-style: italic;
    color: white;

}