.firstdiv
{
    border: 1px solid green;
    background-color: rgb(52,86,79);
    height: 200px;
    width: 100%;
}
.headingdiv h1
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 23px;
        margin: 47px;

}
.formdiv 
{
    float: right;
        margin-right: 31px;
            margin-top: -87px;
}
.menu
{
    background-color: green;
    height: 60px;
    margin-top: -16px;
    
}
.menu ul
{
        padding: 20px;
            margin-left: 30px;
}
.menu ul li
{
    list-style: none;
    display: inline;
    
}
.menu ul li a
{
    text-decoration: none;
    padding: 23px;
    color: white;
}
.menu ul li a:hover
{
    background-color:white;
    color: black;
    
}
