.Menu
{
    background-color: lightgray;
    border: 1px solid grey;
    padding-right: 3%;
    
}
.Menu ul li 
{
    list-style: none;
    display: inline;

}
a
{
    padding: 3px;
    margin:1%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Headingdiv h3
{
    margin-left: 57px;
    background-color: white;
    margin-bottom: 0px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    /*border: 1px solid gray;*/
    
}
.Headingdiv p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 57px;
    margin-top: 0px;
}
.SecondMenu
{
    background-color: blue;
    border: 1px solid blue;
}
.SecondMenu ul li
{
    list-style: none;
    display: inline;
    
}
.SecondMenu ul li a
{
    color: white;
    padding: 10px;
}
.middlediv
{
    float: left;
}
.ThiredMenu
{
    background-color: lightgray;
    width: 20%;
    
    
}
.ThiredMenu ul li
{
    /*list-style-image: url('e4.png');*/
    list-style-image: url('e4.png');
    list-style: none;
    padding-top: 5px;
    text-align: left;
    line-height: 0px auto;
    margin: 10px;
    

}
.InnerThrieddiv
{
    background-color: gray;
    width: 100%;
    
    
}

.InnerThrieddiv p
{
    
    /*margin-top: 20px;*/
    text-align:left;
    padding-top: 15px;
    margin: 60px;
}
.ThiredMenu .InnerThrieddiv h4
{
    text-align: center;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
.para
{
    margin: 0%;
    margin-top: -549px;
    background-color:white;
    border: 1px solid white;
    width: 75%;
    float: right;
    
    
}
.para h3
{
        margin-top: 10px;
    padding: 0px;

}

.para .heading
{
    margin-left: 29px;
}
.heading
{
    float: left;
}
.para .paragraph
{
    padding: 40px;
    float: left;
    margin-left: -20px;
}
.img
{
    float: right;
    
}