*
{
    margin: 0px;
    padding: 0px;
}
body
{
    margin-left: 10%;
    margin-right: 10%;
}
.ColumnFour
{
    width:100%;
    height: 500px;
    border: 1px solid red;
}
.ColumnFour .column1
{
    column-count: 4;
    -webkit-column-count: 4;
    /* border: 1px solid red; */
    width: 25%;
    float: left;
    height: 200px;
    background-color: lightgray;

}
.ColumnFour .column1 img
{
    width:25%;
    height: 200px;
    
     
}
