*{
    box-sizing: border-box;
}

.div1
{
    background-color: lightcoral;
    height: 100px;
    width: 100%;
}
.div2
{
    height: 500px;
    width: 10%;
    background-color: lightgreen;
    float: left;
}
.div3
{
    height: 500px;
    width: 80%;
    
    float: left;

}
.div3 .centerdiv1
{
    height: 200px;
    width: 36%;
    background-color: lightskyblue;
    margin: 60px;
    float: left;
    
}
.div3 .centerdiv2
{
    height: 200px;
    width: 36%;
    background-color: lightslategray;
    margin: 60px;
    float: left;
}

.div4
{
    height: 500px;
    width: 10%;
    background-color: lightseagreen;
    float: left;
}
.div3 .centerdiv3
{
    width: 83%;
    height: 200px;
    background-color: lightseagreen;
    float: left;
    margin: 60px;
    margin-top: -22px;
}
.div5
{
    height: 100px;
    width: 100%;
    background-color: #d2bf14;
    float: left;
}