body
{
    background-color: lightcoral;
    margin:5% 10%;
}
nav
{
    background-color: black;
    height:50px;
    width: 100%;
    text-align: center;
    
    
    
}
nav a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 50px;
    background-color:lightgreen;
    font-weight: bold;
   
}
a:hover
{
    background-color: lightseagreen;
}
