/* body
{
    background-color: gray;
} */
*
{
    margin: 0px;
    padding:0px;
}
.headerdiv
{
    width: 100%;
    /* border: 1px solid red; */
    height: 100px;
}
.headerdiv .textdiv
{
    float: left;
    margin-left: 1%;
}
.headerdiv .textdiv h3
{
    color: #8585BE;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 100px;
    margin-left:30px;
    
    
}
.headerdiv .menudiv
{
    float: right;
    margin-right: 30px;
    height: 100px;
    margin-right: 1%;
}
.headerdiv .menudiv ul li
{
    list-style: none;
    display: inline;
    line-height: 100px;
    font-family: sans-serif;
    color: #8585BE;
    margin-right: 40px;

}
.headerdiv .menudiv ul li:hover
{
    border-bottom: 3px solid red;
    
}






/* end heaer CSS */

/* start css img */
.imagesdiv img
{
    width: 100%;
    background-size: 100% 100%;
}
/* end css img */


/* start content */
.contentdiv
{
    height: 350px;
    /* border: 1px solid  red; */
}
/* end content */

.contentdiv h2
{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-family: sans-serif;
    color: #8585BE;
}
.contentdiv p
{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight:lighter;

}
.contentdiv .paradiv
{
    margin-top: 54px;
}

.images
{
width: 100%;
height: 560px;
/* border: 1px solid black; */

}
.images .img1
{
    float: left;
    margin-left: 3.2%;
    width: 57.2%;
}
.images .img1 img
{
width: 100%; 
height: 400px;

}
.images .img2
{
   /* border: 1px solid red; */
   margin-right: 3.2%;
   height: 400px;
   float: left;
   width: 36%;

}
.images .img2 .firstdiv
{
    /* border: 1px solid peachpuff; */
    height: 110px;
    line-height: 20px;
}
.images .img2 .firstdiv img
{
    height:100px;
    width: 170px;
    float: left;
    margin-left: 25px;
    background-size: 100% 100%;   
}
.images .firstdiv p
{
    font-size: 22px;
    margin-left: 220px;
    line-height: 27px;
}
.images .img2 .firstdiv h3
{
    margin-left: 218px;
    margin-top: 12px;
    color: rgba(167, 165, 165, 0.31);
}
.images .img2 .firstdiv1
{
    /* border: 1px solid red; */
    height:110px;
    margin-top:33px;
}
.images .img2 .firstdiv1 img
{
    height:100px;
    width: 170px;
    float: left;
    margin-left: 25px;
    background-size: 100% 100%;
}
.images .firstdiv1 p
{
    font-size: 22px;
    margin-left: 220px;
    line-height: 27px;
}
.images .img2 .firstdiv1 h3
{
    margin-left: 218px;
    margin-top: 12px;
}
.images .img2 h3
{
    margin-left: 218px;
    margin-top: 12px;
    color: rgba(167, 165, 165, 0.31);
}
.images .img2 .firstdiv2
{
    /* border: 1px solid red; */
    height:110px;
    margin-top: 46px;
}
.images .img2 .firstdiv2 img
{
    height:100px;
    width: 170px;
    float: left;
    margin-left: 25px;
    background-size: 100% 100%; 
    
}
.images .firstdiv2 p
{
    font-size: 22px;
    margin-left: 220px;
    line-height: 27px;
}
.images .img2 .firstdiv2 h3
{
    margin-left: 218px;
    margin-top: 12px;
    color: rgba(167, 165, 165, 0.31);
}
.backgroundimgdiv
{
    position: relative;
}
.backgroundimgdiv img
{
    height:400px;
    width: 100%;
    
}
.backgroundimgdiv .contdiv
{
    height: 60px;
    width:50%;
    border: 3px solid white;
    line-height: 60px;
    
}
.backgroundimgdiv .contdiv
{
    position: absolute;
    top: 43%;
    left: 25%;
}
.backgroundimgdiv .contdiv p
{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    word-spacing: 10px;
    font-size: 20px;
    letter-spacing: 4px;
}
.backgroundimgdiv .contdiv:hover
{
    cursor: help;
}
/* .overlay
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    background-color: lightgray;
    transition: .5s ease;

}
.imagesdiv:hover .overlay
{
    opacity: 1;
}
.imagesdiv img
{
    position: relative;
} */
.productdiv
{
    height: 300px;
    width: 100%;
}
.productdiv .textdiv
{
    margin-top: 30px;
}
.productdiv h1
{
    text-align: center;
    margin-top: 40px;
    color: #8585BE;
}
.productdiv p
{
    line-height: 20px;
    
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
.slidediv
{
    /* border: 1px solid red; */
    height: 400px;
    width: 100%;
}
.slidediv .imges1 img
{
    margin-left: 3.2%;
    height:250px;
    width:30%;
    float: left;
    background-size: 100% 100%;
}
.slidediv .imges2 img
{
    margin-left: 1.8%;
    height:250px;
    width:30%;
    float: left;
    background-size: 100% 100%;
}
.slidediv .imges3 img
{
    margin-right: 3.2%;
    height:250px;
    width:30%;
    float: right;
    background-size: 100% 100%;
}
/* !@%^&*()*@&^#@*&(!#)*&@#&(#@)*#& */
.middlediv
{
    /* border: 1px solid red; */
    background-color: rgba(0,0,0,.03);
    height: 400px;
    width: 100%;
   
}
.div1
{
    margin-left: 3.2%;
    margin-top: 65px;
    /* position: absolute; */
    float: left;
    /* border: 1px solid red; */
    width: 30%;
    height: 270px;
    /* background-color: lightblue; */
}
.middlediv .div1 i
{
    float: left;
    margin-top: 43px;
}
.middlediv .div1 .headingdiv
{
    float: left;
    margin-left: 27px;
    width: 23%;
    /* border: 1px solid red; */
}
.middlediv .div1 .headingdiv h2
{
    font-size: 25px;
    width: 160px;
    font-family: sans-serif;
    color: #8585BE;

}
.middlediv .div1 .headingdiv p
{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 20px;
    text-align: justify;
    width: 300px;

}
/* )*!@&#)&@!# */

.div2
{
    /* border: 1px solid red; */
    float: left;
    width: 30%;
    /* background-color: lightcoral; */
    height: 270px;
    margin-top:65px;
    margin-left: 1.8%;

}
.div2 i
{
    float: left;
}
.div2 .headingdiv1
{
    margin-left: 110px;
}
.div2 i
{
    margin-top: 43px;
}
.div2 .headingdiv1 h2
{
    font-size: 25px;
    width: 291px;
    font-family: sans-serif;
    color: #8585BE;
}
.div2 .headingdiv1 p
{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 20px;
    text-align: justify;
    width: 285px;
}
.div3
{
    /* border: 1px solid red; */
    float: right;
    margin-right: 40px;
    width: 30%;
    height: 270px;
    margin-top: 65px;
}
.div3 i
{
    float: left;
    margin-top:43px;
}
.div3 .headingdiv2
{
    margin-left: 30px;
    float: right;
    width: 65%;
}
.div3 .headingdiv2 h2
{
    font-size: 25px;
    width: 291px;
    font-family: sans-serif;
    color: #8585BE;
}
.div3 .headingdiv2 p
{
    font-family: sans-serif;
    font-size: 23px;
    margin-top: 20px;
    text-align: justify;
    width: 263px;
}
/* *^$&%$^&^*&()*(&*^&%^&%*^&(&*(^&^$^%^*&( */
.footerdiv
{
    height: 200px;
    width: 100%;
    /* background-color: lightcyan; */

}
.footerdiv
{
    text-align: center;
    position: absolute;
}
.footerdiv p
{
    font-size: 20px;
}
.footerdiv #p1
{
    margin-top: 50px;
}
.footerdiv #p2
{
    margin-top: 20px;
}
.footerdiv i
{
    color:red;
    
    
}

.footerdiv #demo:hover
{
    color:#8585BE;
    text-decoration: underline;
}
.footerdiv #demo1:hover
{
    color:#8585BE;
    text-decoration: underline;
}