.mydiv
{
    height: 300px;
    position: relative;
    width: 300px;
    margin: 10px;
    padding: 12px;
    border: 1px solid red;
    background-color: gray;

}
.mydiv img
{
    /* height: 300px; */
   
   
    width: 300px;
}