*
{
    margin:0px;
    padding: 0px;
    
}
header
{
    /* border: 1px solid green; */
    height: 150px;
    width: 100%;
    background-image: url('../images/background.jpg');
    position: relative;
    clear: both;
    
 
}
.imagediv
{
    position:absolute;
}
.imagediv img
{
    height: 50px;
    margin-left: 120px;
    margin-top: 40px;
}
.headerdivtwo 
{
    position: absolute;
    margin-left: 80%;
    background-color: white;
    padding: 15px;
    line-height: 30px;
    width: 300px;
    margin-left: 882px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: -1px 2px 20px 0px;
}
.headerdivtwo ul li
{
    list-style: none;
}
.headerdivtwo ul li b
{
    color:#e6005c;
}
nav
{
    background-color: black;
    height: 100px;
    width: 100%;
    margin: auto;
    
}
nav ul 
{
    padding-top: 38px;
}
nav ul li
{
    color: white;
    display: inline;
    padding: 0px;
    /* margin: 0% 3%; */
    margin-left: 175px;
    margin-left: 116px;
   
    
}
nav .bottomnav
{
    margin-top: -42px;
}
nav .bottomnav .first
{
    font-size: 12px;
    color: #6b6b6b;
}
nav .bottomnav .second
{
    font-size: 11px;
    margin-left: 118px;
    color: #6b6b6b;
}
nav .bottomnav .thired
{
    font-size: 11px;
    color: #6b6b6b;
    margin-left: 139px;
}
nav .bottomnav .fourth
{
    font-size: 11px;
    /* color: lightgoldenrodyellow; */
    color: #6b6b6b;
    margin-left: 114px;
}
nav .bottomnav .fifty
{
        font-size: 11px;
    color: #6b6b6b;
    margin-left: 103px;
}
nav .bottomnav .sixth
{
    font-size: 11px;
    color: #6b6b6b;
    margin-left: 146px;
}
.middlediv
{
    background-color: #fcfcfe;
    position: relative;
    height: 310px;
    width: 100%;
    clear: both;
}
.middlediv .imagediv img
{
    height: 247px;
    width: 410px;
    float: left;
}
.middlediv .contentdiv
{
    float: right;
    /* border: 1px solid red; */
    width: 60%;
}
.middlediv .contentdiv h3
{
    margin-top: 45px;
    font-weight: bold;
    font-size: 30px;
    color: lightskyblue;
}
.middlediv .contentdiv p
{
    margin-top: 31px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    width: 635px;
    /* border: 1px solid; */
}
.middlediv .contentdiv button
{
    padding: 10px 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
}
.middlediv .contentdiv button i
{
    width: 30px;
}
.middlediv .contentdiv a
{
    font-size: 16px;
    font-weight: bold;
}
.button1 
{
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    /* position: absolute; */
    margin-top: -182px;
    position: absolute;
    left: 110px;
    
}
.button1 i
{
    position: absolute;
    left: 14px;
    top: -2px;
}
.button2 
{
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    position: absolute;
    
}
.button2 
{
        position: absolute;
    left: 1135px;
    top: 383px;
}
.button2 i
{
    position: absolute;
    left: 20px;
}
/* !@#$%^&*()_+!@#$%^&*()_+!@#$%^&*()_+!@#$%^&*()_+ */
/* End middlediv */

.middledivcontent
{
    height: 500px;
    width: 100%;
   
}
.middledivcontent
{
    background-color: #4C2987;
    height: 500px;
    width: 100%;
}
.middledivcontent .div1
{
    background-color: lightgreen;
    height: 200px;
    width: 25%;
    float: left;
}
.middledivcontent .div2
{
    background-color: lightpink;
    height: 200px;
    width: 25%;
    float: left;
}
.middledivcontent .div3
{
    background-color:lightsalmon;
    height: 200px;
    width: 25%;
    float: left;
}
.middledivcontent .div4
{
    background-color:lightseagreen;
    height: 200px;
    width: 25%;
    float: left;
}
.middledivcontent1
{
    background-color: lightsteelblue;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 710px;
    clear: both;
}
.nextdiv
{
    height: 400px;
    width: 100%;
    background-color: lime;
}

.nextdiv img
{
    height: 200px;
    width:25%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 100px;
    
}
