.half
{
    position: relative;
    left: 20px;
    height: 20px;
    width: 50px;
    background-color: lightcoral;
    transition: 5s;
}
.full
{
    
    position: relative;
    left: 20px;
    height: 20px;
    width: 50px;
    background-color: lightseagreen;
    transition: 5s;
}
.full
{
    border: 1px solid red;
}
.inputbuttons
{
    margin-top: 20px;
    height: 50px;
    width: 10%;
    border: 1px solid rebeccapurple;
    position: absolute;
    float: left;
}